.isopenNav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: none;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 757px) {
  .isopenNav {
    background: none;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.isopenNavanimateImage {
  background: none;
}
.freeBox__n5Xy {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  transform: none;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  min-width: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 1s;
  padding: 0px;
}
.freeBoxanimateImage__n5XySrhyo {
  animation: none;
}
.img {
  animation: none;
  object-fit: contain;
  max-width: 710px;
  transition-property: opacity, transform;
  transition-duration: 300ms, 400ms;
  pointer-events: none;
  transform: none;
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 300ms, 400ms;
}
.img > picture > img {
  object-fit: contain;
}
@media (max-width: 757px) {
  .img {
    width: 350px;
  }
}
.imganimateImage {
  animation: none;
  transform: scale3d(1.05, 1.05, 1);
  mix-blend-mode: normal;
  filter: none;
  isolation: auto;
  opacity: 1;
}
.freeBox__cek1N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 757px) {
  .freeBox__cek1N {
    align-items: stretch;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: stretch;
  }
}
.freeBox__mc2Vk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 757px) {
  .freeBox__mc2Vk {
    align-self: center;
    margin: 0px;
  }
}
._1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Gx156sR9ht1r);
  font-size: var(--token-SeC4JQ6Nr4hA);
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.topMenuLinks___6LOgu:global(.__wab_instance) {
  max-width: 100%;
}
.text__qSUz {
  line-height: 1.2em;
}
._8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Gx156sR9ht1r);
  font-size: var(--token-SeC4JQ6Nr4hA);
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.topMenuLinks___6QpM:global(.__wab_instance) {
  max-width: 100%;
}
.text__jFzyE {
  line-height: 1.2em;
}
._14 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Gx156sR9ht1r);
  font-size: var(--token-SeC4JQ6Nr4hA);
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.topMenuLinks__s1CsL:global(.__wab_instance) {
  max-width: 100%;
}
.text__pkazN {
  line-height: 1.2em;
}
._9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Gx156sR9ht1r);
  font-size: var(--token-SeC4JQ6Nr4hA);
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.topMenuLinks__gyBem:global(.__wab_instance) {
  max-width: 100%;
}
.text__dDoV {
  line-height: 1.2em;
}
._10 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Gx156sR9ht1r);
  font-size: var(--token-SeC4JQ6Nr4hA);
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.topMenuLinks__dtk3O:global(.__wab_instance) {
  max-width: 100%;
}
.text__ijm3M {
  line-height: 1.2em;
}
._11 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Gx156sR9ht1r);
  font-size: var(--token-SeC4JQ6Nr4hA);
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.topMenuLinks__qr6Sb:global(.__wab_instance) {
  max-width: 100%;
}
.text__jGzCe {
  line-height: 1.2em;
}
._12 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Gx156sR9ht1r);
  font-size: var(--token-SeC4JQ6Nr4hA);
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.topMenuLinks__pw0VN:global(.__wab_instance) {
  max-width: 100%;
}
.text___9V80F {
  line-height: 1.2em;
}
._13 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Gx156sR9ht1r);
  font-size: var(--token-SeC4JQ6Nr4hA);
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.topMenuLinks__yEuy4:global(.__wab_instance) {
  max-width: 100%;
}
.text__n7Zkf {
  line-height: 1.2em;
}
.freeBox__wqMwo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  margin-top: 120px;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
@media (max-width: 757px) {
  .freeBox__wqMwo {
    margin-top: 20px;
    align-self: center;
    justify-content: center;
    align-items: center;
  }
}
.link {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50px;
  height: 50px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 100%;
  padding: 0px;
  border: 1px solid var(--token-zy6xhYnWF8Y7);
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-sP5FKk2rRQuW);
  width: auto;
  height: 40px;
  flex-shrink: 0;
}
