.viewFacilitiesButton {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 3px rgba(195, 118, 30, 1);
  width: 321px;
  height: 71px;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 34px;
}
@media (max-width: 1920px) {
  .viewFacilitiesButton {
    box-shadow: none;
  }
}
.text {
  display: block;
  font-size: 22px;
  text-align: center;
  font-family: "Avenir";
  font-weight: 900;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(195, 118, 30, 1);
  position: absolute;
  top: 19px;
  left: 65px;
}
@media (max-width: 1920px) {
  .text {
    left: 73px;
    top: 25px;
  }
}
