.root {
  display: flex;
}
.slotTargetChildren {
  font-size: 45px;
  font-weight: 400;
  color: var(--token-sP5FKk2rRQuW);
}
.root:hover .slotTargetChildren {
  color: var(--token-Q67gH6ouJM2i);
  line-height: 1.2em;
}
.root:hover .slotTargetChildren > :global(.__wab_text),
.root:hover .slotTargetChildren > :global(.__wab_expr_html_text),
.root:hover .slotTargetChildren > :global(.__wab_slot-string-wrapper),
.root:hover .slotTargetChildren > :global(.__wab_slot) > :global(.__wab_text),
.root:hover
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.root:hover
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.root:hover
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.root:hover
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.root:hover
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.root:hover
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.root:hover
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.root:hover
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
.root:active .slotTargetChildren {
  color: var(--token-Q67gH6ouJM2i);
}
.root:active .slotTargetChildren > :global(.__wab_text),
.root:active .slotTargetChildren > :global(.__wab_expr_html_text),
.root:active .slotTargetChildren > :global(.__wab_slot-string-wrapper),
.root:active .slotTargetChildren > :global(.__wab_slot) > :global(.__wab_text),
.root:active
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.root:active
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.root:active
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.root:active
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.root:active
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.root:active
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.root:active
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.root:active
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
.text___6D0Zf {
  line-height: 1.2em;
}
