.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  max-height: 185px;
  color: var(--token-RvPI6LyeIPmd);
  overflow: visible;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 414px) {
  .root {
    height: auto;
  }
}
.colorbar {
  background: rgba(195, 118, 30, 1);
  width: 100%;
  height: 8px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  overflow: visible;
  min-width: 0;
  flex-shrink: 0;
}
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  align-self: center;
  order: 1;
  overflow: visible;
  min-width: 0;
  padding: 0px;
}
.menu {
  background: #1c3757;
  width: 100%;
  height: 185px;
  display: flex;
  overflow: visible;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 130px;
  padding-left: 130px;
  transform: none;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 1440px) {
  .menu {
    padding-right: 100px;
    padding-left: 100px;
  }
}
@media (max-width: 1024px) {
  .menu {
    padding: 40px;
  }
}
@media (max-width: 757px) {
  .menu {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    row-gap: 0px;
    min-height: 0;
    padding: 10px;
  }
}
@media (max-width: 530px) {
  .menu {
    padding-right: 20px;
  }
}
@media (max-width: 414px) {
  .menu {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 0px;
  }
}
@media (max-width: 375px) {
  .menu {
    width: 100%;
    min-width: 0;
  }
}
.returnHome {
  background: url("/plasmic/sterling_and_buena_vista_foods/images/frame68.png") center center / cover no-repeat;
  width: 392px;
  height: 106px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  overflow: visible;
  z-index: 1;
  align-self: center;
  flex-shrink: 0;
}
@media (max-width: 1440px) {
  .returnHome {
    text-align: left;
    left: 40px;
    right: auto;
    width: 370px;
    height: 100px;
    flex-shrink: 0;
    padding: 0em;
  }
}
@media (max-width: 1024px) {
  .returnHome {
    width: 300px;
    height: 80px;
    flex-shrink: 0;
  }
}
@media (max-width: 757px) {
  .returnHome {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: auto;
    top: auto;
    right: auto;
    background: url("/plasmic/sterling_and_buena_vista_foods/images/frame68.png") center center / contain no-repeat;
    row-gap: 0px;
    flex-shrink: 0;
    padding: 0px;
    margin: auto;
  }
}
@media (max-width: 414px) {
  .returnHome {
    left: auto;
    top: auto;
    align-self: baseline;
    position: relative;
    right: auto;
  }
}
.freeBox__wGhjk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  column-gap: 31px;
  min-width: 0;
}
@media (max-width: 1440px) {
  .freeBox__wGhjk {
    position: relative;
    top: auto;
    left: auto;
    z-index: 1;
    bottom: auto;
  }
}
@media (max-width: 1024px) {
  .freeBox__wGhjk {
    padding: 0px;
  }
}
@media (max-width: 757px) {
  .freeBox__wGhjk {
    justify-content: flex-end;
    align-items: center;
    width: auto;
    left: auto;
    top: auto;
    bottom: auto;
  }
}
@media (max-width: 414px) {
  .freeBox__wGhjk {
    left: auto;
    top: auto;
    bottom: auto;
    justify-content: center;
    align-items: stretch;
    align-self: center;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    align-content: stretch;
    column-gap: 0px;
    row-gap: 0px;
  }
}
@media (max-width: 375px) {
  .freeBox__wGhjk {
    justify-content: center;
    align-items: center;
    width: auto;
    display: flex;
    flex-direction: row;
    align-self: center;
    left: auto;
    top: auto;
    position: sticky;
    row-gap: 0px;
  }
}
.convoBtn:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 60px;
  width: 250px;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .convoBtn:global(.__wab_instance):global(.__wab_instance) {
    width: 250px;
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .convoBtn:global(.__wab_instance):global(.__wab_instance) {
    width: 215px;
    height: 50px;
    flex-shrink: 0;
  }
}
@media (max-width: 757px) {
  .convoBtn:global(.__wab_instance):global(.__wab_instance) {
    height: 60px;
    display: none;
  }
}
@media (max-width: 414px) {
  .convoBtn:global(.__wab_instance):global(.__wab_instance) {
    width: 180px;
    height: 40px;
    align-self: center;
    flex-shrink: 0;
  }
}
.svg__c54JB {
  position: relative;
  color: var(--token-Xx7oe00aHq8H);
  height: 1em;
}
.text__tpd2 {
  white-space: pre;
  color: var(--token-VSsNRyw2VYkH);
  font-size: 21px;
  font-weight: 600;
  font-family: "Avenir Heavy";
}
@media (max-width: 1920px) {
  .text__tpd2 {
    font-size: 21px;
  }
}
@media (max-width: 1024px) {
  .text__tpd2 {
    font-size: 19px;
  }
}
@media (max-width: 414px) {
  .text__tpd2 {
    font-size: 14px;
  }
}
.svg__uc9Rc {
  position: relative;
  height: 1em;
}
.freeBox__bXduj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  max-width: 100%;
  background: var(--token-VSsNRyw2VYkH);
  transform: none;
  cursor: pointer;
  transform-origin: center;
  flex-shrink: 0;
  border-radius: 100%;
  padding: 0px;
}
@media (max-width: 757px) {
  .freeBox__bXduj {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .freeBox__bXduj {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
@media (max-width: 375px) {
  .freeBox__bXduj {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.svg__cbjZ0 {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: var(--token-41VRhDKfihhY);
  transition-property: all, all;
  transition-duration: 1s, 1s;
  transform-origin: center;
  flex-shrink: 0;
  -webkit-transition-property: all, all;
  -webkit-transition-duration: 1s, 1s;
}
@media (max-width: 757px) {
  .svg__cbjZ0 {
    width: 25px;
  }
}
@media (max-width: 414px) {
  .svg__cbjZ0 {
    width: 25px;
  }
}
@media (max-width: 375px) {
  .svg__cbjZ0 {
    width: 25px;
  }
}
.expandMenu {
  animation: none;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  align-self: center;
  order: 1;
  background:
    url("/plasmic/sterling_and_buena_vista_foods/images/menuPopupPng.png") top 50% left 50% / cover repeat,
    var(--token-of31pJZnvNmd);
  transform: none;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  max-height: 963px;
  overflow: visible;
  min-width: 0;
  display: none;
  -webkit-transition-property: transform;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 1s;
  padding: 0px 0px 70px;
}
@media (max-width: 2000px) {
  .expandMenu {
    display: flex;
  }
}
@media (max-width: 757px) {
  .expandMenu {
    align-self: center;
    height: auto;
    display: flex;
    margin: auto;
  }
}
@media (max-width: 530px) {
  .expandMenu {
    height: auto;
    padding-bottom: 20px;
  }
}
.menu2 {
  background: none;
  width: 100%;
  height: 185px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 130px;
  padding-left: 130px;
  transform: none;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .menu2 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1440px) {
  .menu2 {
    padding-right: 100px;
    padding-left: 100px;
  }
}
@media (max-width: 1024px) {
  .menu2 {
    padding: 40px;
  }
}
@media (max-width: 757px) {
  .menu2 {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: auto;
    row-gap: 0px;
    padding: 10px;
  }
}
@media (max-width: 530px) {
  .menu2 {
    height: auto;
  }
}
@media (max-width: 414px) {
  .menu2 {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 0px;
  }
}
.logo2 {
  background: url("/plasmic/sterling_and_buena_vista_foods/images/frame68.png") center center / cover no-repeat;
  width: 392px;
  height: 106px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  overflow: hidden;
  z-index: 1;
  align-self: center;
  flex-shrink: 0;
}
@media (max-width: 1440px) {
  .logo2 {
    text-align: left;
    left: 40px;
    right: auto;
    width: 370px;
    height: 100px;
    flex-shrink: 0;
    padding: 0em;
  }
}
@media (max-width: 1024px) {
  .logo2 {
    width: 300px;
    height: 80px;
    flex-shrink: 0;
  }
}
@media (max-width: 757px) {
  .logo2 {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: auto;
    top: auto;
    right: auto;
    background: url("/plasmic/sterling_and_buena_vista_foods/images/frame68.png") center center / contain no-repeat;
    row-gap: 0px;
    flex-shrink: 0;
    padding: 0px;
    margin: auto;
  }
}
@media (max-width: 414px) {
  .logo2 {
    left: auto;
    top: auto;
    align-self: baseline;
    position: relative;
    right: auto;
  }
}
.freeBox__uO1A6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  column-gap: 31px;
  min-width: 0;
}
@media (max-width: 1440px) {
  .freeBox__uO1A6 {
    position: relative;
    top: auto;
    left: auto;
    z-index: 1;
    bottom: auto;
  }
}
@media (max-width: 1024px) {
  .freeBox__uO1A6 {
    padding: 0px;
  }
}
@media (max-width: 757px) {
  .freeBox__uO1A6 {
    justify-content: flex-end;
    align-items: center;
    width: auto;
    left: auto;
    top: auto;
    bottom: auto;
  }
}
@media (max-width: 414px) {
  .freeBox__uO1A6 {
    left: auto;
    top: auto;
    bottom: auto;
    justify-content: center;
    align-items: stretch;
    align-self: center;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    align-content: stretch;
    column-gap: 0px;
    row-gap: 0px;
  }
}
@media (max-width: 375px) {
  .freeBox__uO1A6 {
    justify-content: center;
    align-items: center;
    width: auto;
    display: flex;
    flex-direction: row;
    align-self: center;
    left: auto;
    top: auto;
    position: sticky;
    row-gap: 0px;
  }
}
.convoBtn2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 60px;
  width: 250px;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .convoBtn2:global(.__wab_instance):global(.__wab_instance) {
    width: 250px;
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .convoBtn2:global(.__wab_instance):global(.__wab_instance) {
    width: 215px;
    height: 67px;
    flex-shrink: 0;
  }
}
@media (max-width: 757px) {
  .convoBtn2:global(.__wab_instance):global(.__wab_instance) {
    height: 60px;
    display: none;
  }
}
@media (max-width: 414px) {
  .convoBtn2:global(.__wab_instance):global(.__wab_instance) {
    width: 180px;
    height: 40px;
    align-self: center;
    flex-shrink: 0;
  }
}
.svg__craRy {
  position: relative;
  color: var(--token-Xx7oe00aHq8H);
  height: 1em;
}
.text__anc5O {
  white-space: pre;
  color: var(--token-Q67gH6ouJM2i);
  font-size: 21px;
  font-weight: 600;
  font-family: "Avenir Heavy";
}
@media (max-width: 1920px) {
  .text__anc5O {
    font-size: 21px;
  }
}
@media (max-width: 1024px) {
  .text__anc5O {
    font-size: 19px;
  }
}
@media (max-width: 414px) {
  .text__anc5O {
    font-size: 14px;
  }
}
.svg__bwnRy {
  position: relative;
  height: 1em;
}
.freeBox__roKtc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  max-width: 100%;
  background: var(--token-Q67gH6ouJM2i);
  transform: none;
  cursor: pointer;
  transform-origin: center;
  flex-shrink: 0;
  border-radius: 100%;
  padding: 0px;
}
@media (max-width: 757px) {
  .freeBox__roKtc {
    height: 40px;
    width: 40px;
    flex-shrink: 0;
  }
}
@media (max-width: 530px) {
  .freeBox__roKtc {
    height: 40px;
    width: 40px;
    flex-shrink: 0;
  }
}
.svg__ad4FK {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 40px;
  color: var(--token-41VRhDKfihhY);
  transform-origin: center;
  flex-shrink: 0;
}
@media (max-width: 757px) {
  .svg__ad4FK {
    height: 25px;
    flex-shrink: 0;
  }
}
@media (max-width: 530px) {
  .svg__ad4FK {
    height: 25px;
    flex-shrink: 0;
  }
}
.isopenNav:global(.__wab_instance) {
  position: relative;
  height: 100%;
  min-height: 0;
}
