.homepage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-sP5FKk2rRQuW);
  overflow: hidden;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 0px;
}
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1512px) {
  .header {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1440px) {
  .header {
    height: auto;
  }
}
.header__o4Nex:global(.__wab_instance) {
  max-width: 100%;
}
.homeHero {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 975px;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  background: var(--token-Gx156sR9ht1r);
  row-gap: 10px;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 2000px) {
  .homeHero {
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 150px;
    background:
      url("/plasmic/sterling_and_buena_vista_foods/images/hmpgheroAvif2.avif") top 100% left 50% / contain no-repeat,
      var(--token-WxvvgatuPYoJ);
  }
}
@media (max-width: 1920px) {
  .homeHero {
    background:
      url("/plasmic/sterling_and_buena_vista_foods/images/hmpgheroAvif.avif") top 100% left 50% / contain no-repeat,
      var(--token-RvPI6LyeIPmd);
    align-items: center;
    justify-content: center;
    height: auto;
  }
}
@media (max-width: 1512px) {
  .homeHero {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1440px) {
  .homeHero {
    height: auto;
  }
}
@media (max-width: 1280px) {
  .homeHero {
    height: auto;
  }
}
@media (max-width: 1200px) {
  .homeHero {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: auto;
    column-gap: 0px;
    padding: 150px 0px 0px;
  }
}
@media (max-width: 1024px) {
  .homeHero {
    height: auto;
  }
}
@media (max-width: 414px) {
  .homeHero {
    height: auto;
  }
}
.reveal__qyrRe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
@media (max-width: 2000px) {
  .reveal__qyrRe:global(.__wab_instance) {
    display: flex;
  }
}
.title {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  align-self: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-wrap: nowrap;
  align-content: center;
}
@media (max-width: 2000px) {
  .title {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 1920px) {
  .title {
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 757px) {
  .title {
    align-items: center;
  }
}
@media (max-width: 530px) {
  .title {
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
  }
}
@media (max-width: 430px) {
  .title {
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    column-gap: 0px;
  }
}
@media (max-width: 414px) {
  .title {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 375px) {
  .title {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-sP5FKk2rRQuW);
  text-align: center;
  min-width: 0;
}
@media (max-width: 1920px) {
  .h1 {
    width: auto;
  }
}
@media (max-width: 430px) {
  .h1 {
    text-align: center;
  }
}
@media (max-width: 414px) {
  .h1 {
    text-align: center;
  }
}
@media (max-width: 375px) {
  .h1 {
    text-align: center;
  }
}
.text___4TbN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  text-align: right;
  margin-top: -15px;
  min-width: 0;
}
@media (max-width: 1920px) {
  .text___4TbN {
    font-size: 139px;
    height: 100%;
    align-self: center;
    min-height: 0;
    margin: 0px;
  }
}
@media (max-width: 430px) {
  .text___4TbN {
    text-align: center;
  }
}
@media (max-width: 414px) {
  .text___4TbN {
    text-align: center;
  }
}
@media (max-width: 375px) {
  .text___4TbN {
    text-align: center;
  }
}
.freeBox__bc7O {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  margin-bottom: -280px;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (max-width: 2000px) {
  .freeBox__bc7O {
    display: flex;
  }
}
@media (max-width: 530px) {
  .freeBox__bc7O {
    margin-bottom: -200px;
  }
}
@media (max-width: 430px) {
  .freeBox__bc7O {
    margin-bottom: -70px;
  }
}
@media (max-width: 414px) {
  .freeBox__bc7O {
    margin: 0px 0px -100px;
  }
}
.freeBox___1IyQi {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
  min-width: 0;
  padding: 0px;
}
.img__ij4Ls {
  object-fit: cover;
  max-width: 100%;
  cursor: default;
  pointer-events: none;
  transform: none;
}
.img__ij4Ls > picture > img {
  object-fit: cover;
}
.img__mAvCu {
  object-fit: cover;
  max-width: 100%;
  z-index: 2;
  align-self: flex-start;
  margin: -70px 0px -150px -150px;
}
.img__mAvCu > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__mAvCu {
    display: none;
  }
}
.homeBody {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1700px) {
  .homeBody {
    padding-left: 0px;
  }
}
@media (max-width: 1440px) {
  .homeBody {
    height: auto;
  }
}
@media (max-width: 1280px) {
  .homeBody {
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 1024px) {
  .homeBody {
    height: auto;
    padding: 0px;
  }
}
@media (max-width: 757px) {
  .homeBody {
    padding-bottom: 0px;
  }
}
.freeBox___9VvCh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 2000px) {
  .freeBox___9VvCh {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/croissantAccentimgAvif2.avif") top 100% right 100% no-repeat;
    align-self: auto;
    height: auto;
    padding: 0px 0px 180px;
  }
}
@media (max-width: 1920px) {
  .freeBox___9VvCh {
    align-items: center;
    justify-content: flex-end;
    background: url("/plasmic/sterling_and_buena_vista_foods/images/croissantAccentimgAvif2.avif") top 100% right 100% no-repeat;
    padding: 0px 0px 140px;
  }
}
@media (max-width: 1024px) {
  .freeBox___9VvCh {
    padding-bottom: 0px;
  }
}
@media (max-width: 757px) {
  .freeBox___9VvCh {
    padding-bottom: 0px;
  }
}
@media (max-width: 530px) {
  .freeBox___9VvCh {
    padding-bottom: 0px;
  }
}
.intro {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 1600px;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  background:
    linear-gradient(var(--token-9ltCdO3Xj-ky), var(--token-9ltCdO3Xj-ky)),
    #ffffff;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  row-gap: 20px;
  padding: 120px 75px 75px;
}
@media (max-width: 2000px) {
  .intro {
    padding-top: 250px;
  }
}
@media (max-width: 1920px) {
  .intro {
    animation: none;
    height: auto;
    padding-top: 250px;
    width: 1425px;
    padding-bottom: 75px;
  }
}
@media (max-width: 1440px) {
  .intro {
    width: 90%;
    height: auto;
    padding: 250px 20px 40px;
  }
}
@media (max-width: 1280px) {
  .intro {
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 95%;
    padding-top: 250px;
  }
}
@media (max-width: 1200px) {
  .intro {
    height: auto;
    padding: 250px 20px 30px;
  }
}
@media (max-width: 1024px) {
  .intro {
    width: 100%;
    height: auto;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    min-width: 0;
    padding: 250px 20px 30px;
  }
}
@media (max-width: 757px) {
  .intro {
    padding-top: 275px;
    padding-bottom: 20px;
    padding-left: 20px;
    height: auto;
  }
}
@media (max-width: 530px) {
  .intro {
    padding-top: 219px;
  }
}
@media (max-width: 430px) {
  .intro {
    padding-top: 80px;
  }
}
@media (max-width: 414px) {
  .intro {
    height: 100%;
    min-height: 0;
    padding: 90px 20px 20px;
  }
}
@media (max-width: 375px) {
  .intro {
    height: auto;
    padding: 130px 15px 15px;
  }
}
.reveal___5Ma6E:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  z-index: 2;
  display: none;
}
@media (max-width: 2000px) {
  .reveal___5Ma6E:global(.__wab_instance) {
    display: flex;
  }
}
.text3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1440px) {
  .text3 {
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .text3 {
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    column-gap: 0px;
    padding: 0px;
    margin: 0px;
  }
}
@media (max-width: 757px) {
  .text3 {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.title2 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 25px;
  align-self: auto;
  margin-bottom: -15px;
  align-content: center;
  min-width: 0;
  padding: 8px 0px 0px;
}
@media (max-width: 1440px) {
  .title2 {
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .title2 {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  .title2 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 0px;
  }
}
@media (max-width: 757px) {
  .title2 {
    justify-content: center;
    align-content: center;
    align-self: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    margin-bottom: 0px;
    column-gap: 0px;
  }
}
.text__kyQgx {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  font-family: var(--token-MZlo_dcXZCyh);
  font-size: 55px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 68px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
}
@media (max-width: 1920px) {
  .text__kyQgx {
    animation: none;
    font-size: 55px;
  }
}
@media (max-width: 1440px) {
  .text__kyQgx {
    font-size: var(--token-2PDYAFnsh1xM);
    line-height: 100%;
  }
}
@media (max-width: 1024px) {
  .text__kyQgx {
    text-align: center;
    align-self: center;
    font-size: var(--token-2PDYAFnsh1xM);
  }
}
@media (max-width: 757px) {
  .text__kyQgx {
    font-size: var(--token-UXPBeNJ4rrVx);
  }
}
.h3__wdfVl {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  padding-left: 0px;
  padding-right: 0px;
  font-family: var(--token-MZlo_dcXZCyh);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 68px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: 55px;
}
@media (max-width: 1920px) {
  .h3__wdfVl {
    animation: none;
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 1440px) {
  .h3__wdfVl {
    line-height: 100%;
    font-size: var(--token-KiAZW0gIrhlw);
    align-self: auto;
  }
}
@media (max-width: 1200px) {
  .h3__wdfVl {
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 1024px) {
  .h3__wdfVl {
    line-height: 45px;
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 757px) {
  .h3__wdfVl {
    text-align: center;
    line-height: 30px;
    font-size: var(--token-UXPBeNJ4rrVx);
    align-self: center;
  }
}
@media (max-width: 414px) {
  .h3__wdfVl {
    line-height: 100%;
    width: 352px;
  }
}
.h3__nYLeh {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-VSsNRyw2VYkH);
  font-family: var(--token-MZlo_dcXZCyh);
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 68px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: 55px;
  min-width: 0;
}
@media (max-width: 1920px) {
  .h3__nYLeh {
    width: auto;
    font-size: 55px;
  }
}
@media (max-width: 1440px) {
  .h3__nYLeh {
    font-size: var(--token-2PDYAFnsh1xM);
    line-height: 2px;
  }
}
@media (max-width: 1024px) {
  .h3__nYLeh {
    line-height: 45px;
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 414px) {
  .h3__nYLeh {
    line-height: 35px;
  }
}
@media (max-width: 1920px) {
  .h3___0Sw2Y {
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 1440px) {
  .h3__kuEAs {
    height: auto;
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 1200px) {
  .h3__kuEAs {
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 1024px) {
  .h3__kuEAs {
    font-size: var(--token-KiAZW0gIrhlw);
    line-height: 100%;
  }
}
@media (max-width: 757px) {
  .h3__kuEAs {
    line-height: 100%;
    font-size: var(--token-UXPBeNJ4rrVx);
    width: 533px;
  }
}
@media (max-width: 414px) {
  .h3__kuEAs {
    line-height: 100%;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__e8GY {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1920px) {
  .freeBox__e8GY {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .freeBox__e8GY {
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox__e8GY {
    padding: 0px;
  }
}
.p__w18L {
  animation: none;
  position: relative;
  width: 70%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
}
@media (max-width: 1920px) {
  .p__w18L {
    animation: none;
  }
}
@media (max-width: 1440px) {
  .p__w18L {
    font-size: var(--token-LM4KfHPZ4AUG);
  }
}
@media (max-width: 757px) {
  .p__w18L {
    line-height: 30px;
    width: 89.12%;
  }
}
@media (max-width: 414px) {
  .p__w18L {
    width: 368px;
  }
}
@media (max-width: 375px) {
  .p__w18L {
    padding-bottom: 0px;
  }
}
.p__jid1W {
  animation: none;
  position: relative;
  width: 94%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
}
@media (max-width: 1920px) {
  .p__jid1W {
    animation: none;
  }
}
@media (max-width: 1440px) {
  .p__jid1W {
    font-size: var(--token-LM4KfHPZ4AUG);
  }
}
@media (max-width: 757px) {
  .p__jid1W {
    line-height: 30px;
  }
}
.freeBox__v56Y6 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 30px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1920px) {
  .freeBox__v56Y6 {
    animation: none;
  }
}
@media (max-width: 1200px) {
  .freeBox__v56Y6 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .freeBox__v56Y6 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 0px;
  }
}
.primaryBtn__h8Wfb:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .primaryBtn__h8Wfb:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .primaryBtn__h8Wfb:global(.__wab_instance) {
    align-self: center;
    flex-shrink: 0;
  }
}
@media (max-width: 375px) {
  .primaryBtn__h8Wfb:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .text__cEfj0 {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .text__cEfj0 {
    font-size: 18px;
  }
}
.primaryBtn__bH4Ix:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .primaryBtn__bH4Ix:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .primaryBtn__bH4Ix:global(.__wab_instance) {
    align-self: center;
    flex-shrink: 0;
  }
}
@media (max-width: 375px) {
  .primaryBtn__bH4Ix:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .text__ye4QN {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .text__ye4QN {
    font-size: 18px;
  }
}
.section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 2000px) {
  .section {
    background: none;
    padding: 0px;
  }
}
@media (max-width: 1920px) {
  .section {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    column-gap: 0px;
  }
}
@media (max-width: 1440px) {
  .section {
    height: auto;
  }
}
.section2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 2000px) {
  .section2 {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/bkgdaccentSmallAvif2.avif") left 90% top 100% no-repeat;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
}
@media (max-width: 1920px) {
  .section2 {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/bkgdaccentSmallAvif.avif") left 85% top 100% no-repeat;
  }
}
.bakerysolutions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1455px;
  height: 707px;
  max-width: 100%;
  column-gap: 30px;
  flex-shrink: 0;
}
@media (max-width: 2000px) {
  .bakerysolutions {
    width: 1700px;
  }
}
@media (max-width: 1920px) {
  .bakerysolutions {
    height: 500px;
    flex-shrink: 0;
  }
}
@media (max-width: 1700px) {
  .bakerysolutions {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 100px;
    margin: 0px;
  }
}
@media (max-width: 1512px) {
  .bakerysolutions {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1440px) {
  .bakerysolutions {
    height: auto;
    padding: 30px;
  }
}
@media (max-width: 1280px) {
  .bakerysolutions {
    height: auto;
  }
}
@media (max-width: 1200px) {
  .bakerysolutions {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .bakerysolutions {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    column-gap: 0px;
  }
}
@media (max-width: 430px) {
  .bakerysolutions {
    padding-top: 31px;
  }
}
@media (max-width: 375px) {
  .bakerysolutions {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.image {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 639px;
  height: 432px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/sterling_and_buena_vista_foods/images/applefritterAvif.avif") top 50% left 50% / cover no-repeat;
  flex-shrink: 0;
  padding: 8px;
}
@media (max-width: 1920px) {
  .image {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/applefritterAvif.avif") top 50% left 50% / contain no-repeat;
  }
}
@media (max-width: 1512px) {
  .image {
    height: 332px;
  }
}
@media (max-width: 1440px) {
  .image {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/applefritterAvif.avif") top 50% left 50% / contain no-repeat;
  }
}
@media (max-width: 1280px) {
  .image {
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .image {
    width: 439px;
    background: url("/plasmic/sterling_and_buena_vista_foods/images/applefritterAvif.avif") top 50% left 50% / contain no-repeat;
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .image {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/applefritterAvif.avif") top 50% left 50% / contain no-repeat;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    width: 100%;
    height: 300px;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (max-width: 757px) {
  .image {
    width: 540px;
  }
}
.text {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1024px) {
  .text {
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
}
@media (max-width: 757px) {
  .text {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 414px) {
  .text {
    padding: 0px;
  }
}
.h4__s33Bh {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (max-width: 1440px) {
  .h4__s33Bh {
    font-size: var(--token-2PDYAFnsh1xM);
  }
}
@media (max-width: 1200px) {
  .h4__s33Bh {
    font-size: var(--token-zhrnaxKHsmJK);
  }
}
@media (max-width: 1024px) {
  .h4__s33Bh {
    line-height: 100%;
  }
}
@media (max-width: 757px) {
  .h4__s33Bh {
    font-size: var(--token-UXPBeNJ4rrVx);
  }
}
.h4___4Rj2M {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  min-width: 0;
}
@media (max-width: 1920px) {
  .h4___4Rj2M {
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 1440px) {
  .h4___4Rj2M {
    font-size: var(--token-KiAZW0gIrhlw);
    line-height: 100%;
  }
}
@media (max-width: 1024px) {
  .h4___4Rj2M {
    font-size: var(--token-KiAZW0gIrhlw);
    line-height: 100%;
  }
}
@media (max-width: 757px) {
  .h4___4Rj2M {
    font-size: var(--token-UXPBeNJ4rrVx);
  }
}
.p___37Rkd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  min-width: 0;
}
@media (max-width: 1440px) {
  .p___37Rkd {
    font-size: var(--token-LM4KfHPZ4AUG);
  }
}
@media (max-width: 1024px) {
  .p___37Rkd {
    font-size: var(--token-LM4KfHPZ4AUG);
    line-height: 30px;
  }
}
@media (max-width: 757px) {
  .p___37Rkd {
    line-height: 30px;
  }
}
@media (max-width: 414px) {
  .p___37Rkd {
    line-height: 30px;
  }
}
.primaryBtn__sB6Y:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .primaryBtn__sB6Y:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .primaryBtn__sB6Y:global(.__wab_instance) {
    align-self: center;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .text__tzNq {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .text__tzNq {
    font-size: 18px;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  left: 30px;
  top: auto;
  bottom: 10px;
  display: none;
}
@media (max-width: 2000px) {
  .embedHtml:global(.__wab_instance) {
    display: flex;
  }
}
@media (max-width: 1920px) {
  .embedHtml:global(.__wab_instance) {
    bottom: -100px;
    left: 20px;
  }
}
@media (max-width: 1700px) {
  .embedHtml:global(.__wab_instance) {
    bottom: -150px;
  }
}
@media (max-width: 757px) {
  .embedHtml:global(.__wab_instance) {
    display: none;
  }
}
.section3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 2000px) {
  .section3 {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/bkgdaccentRightcornerAvif.avif") top 100% left 100% / contain no-repeat;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 1920px) {
  .section3 {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/bkgdaccentRightcornerAvif.avif") top 100% left 100% / contain no-repeat;
  }
}
.foodServiceAndRetailPartners {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 1700px;
  height: 707px;
  max-width: 100%;
  column-gap: 0px;
  padding-left: 100px;
  flex-shrink: 0;
}
@media (max-width: 2000px) {
  .foodServiceAndRetailPartners {
    padding-left: 0px;
  }
}
@media (max-width: 1700px) {
  .foodServiceAndRetailPartners {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }
}
@media (max-width: 1512px) {
  .foodServiceAndRetailPartners {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1440px) {
  .foodServiceAndRetailPartners {
    height: auto;
    padding-bottom: 100px;
  }
}
@media (max-width: 1280px) {
  .foodServiceAndRetailPartners {
    height: auto;
    padding-left: 30px;
    padding-bottom: 100px;
  }
}
@media (max-width: 1200px) {
  .foodServiceAndRetailPartners {
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
}
@media (max-width: 1024px) {
  .foodServiceAndRetailPartners {
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    column-gap: 0px;
    padding: 0px 30px;
  }
}
@media (max-width: 414px) {
  .foodServiceAndRetailPartners {
    padding: 20px;
  }
}
@media (max-width: 375px) {
  .foodServiceAndRetailPartners {
    padding: 15px;
  }
}
.text2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1280px) {
  .text2 {
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .text2 {
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 0;
  }
}
.h4__ynMJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  text-align: left;
  min-width: 0;
}
@media (max-width: 1440px) {
  .h4__ynMJ {
    font-size: var(--token-2PDYAFnsh1xM);
  }
}
@media (max-width: 1200px) {
  .h4__ynMJ {
    font-size: var(--token-zhrnaxKHsmJK);
  }
}
.h4__lgHx {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  text-align: left;
  min-width: 0;
}
@media (max-width: 1920px) {
  .h4__lgHx {
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 1440px) {
  .h4__lgHx {
    font-size: var(--token-KiAZW0gIrhlw);
    line-height: 100%;
  }
}
@media (max-width: 1024px) {
  .h4__lgHx {
    font-size: var(--token-KiAZW0gIrhlw);
    line-height: 100%;
  }
}
@media (max-width: 757px) {
  .h4__lgHx {
    font-size: var(--token-UXPBeNJ4rrVx);
  }
}
.p__xZzR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Avenir Heavy";
  min-width: 0;
}
@media (max-width: 1440px) {
  .p__xZzR {
    font-size: var(--token-LM4KfHPZ4AUG);
  }
}
@media (max-width: 1024px) {
  .p__xZzR {
    font-size: var(--token-LM4KfHPZ4AUG);
    line-height: 100%;
  }
}
.freeBox__tCUx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 0;
}
@media (max-width: 1200px) {
  .freeBox__tCUx {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.text__hP5Xl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ul__wbQ3C {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1440px) {
  .li__aVfbp {
    font-size: var(--token-LM4KfHPZ4AUG);
  }
}
@media (max-width: 1024px) {
  .li__aVfbp {
    font-size: var(--token-LM4KfHPZ4AUG);
  }
}
.ul___45Go2 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1440px) {
  .li__yu0Ad {
    font-size: var(--token-LM4KfHPZ4AUG);
  }
}
@media (max-width: 1024px) {
  .li__yu0Ad {
    font-size: var(--token-LM4KfHPZ4AUG);
  }
}
.ul___5A4Y {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1440px) {
  .li___4UrCd {
    font-size: var(--token-LM4KfHPZ4AUG);
  }
}
@media (max-width: 1024px) {
  .li___4UrCd {
    font-size: var(--token-LM4KfHPZ4AUG);
  }
}
.text___6LhDw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.ul___87S4A {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1440px) {
  .li__t9KMp {
    font-size: var(--token-LM4KfHPZ4AUG);
  }
}
@media (max-width: 1024px) {
  .li__t9KMp {
    font-size: var(--token-LM4KfHPZ4AUG);
  }
}
.ul__y9JOz {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1440px) {
  .li__vcYgl {
    font-size: var(--token-LM4KfHPZ4AUG);
  }
}
@media (max-width: 1024px) {
  .li__vcYgl {
    font-size: var(--token-LM4KfHPZ4AUG);
  }
}
.primaryBtn__gurqP:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  .primaryBtn__gurqP:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .primaryBtn__gurqP:global(.__wab_instance) {
    align-self: center;
    flex-shrink: 0;
  }
}
.text__c0Kxh {
  height: auto;
}
@media (max-width: 414px) {
  .text__c0Kxh {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .text__c0Kxh {
    font-size: 18px;
  }
}
.image2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 790px;
  height: 499px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background:
    url("/plasmic/sterling_and_buena_vista_foods/images/empanadasAvif.avif") 0% 0% / cover no-repeat,
    url("/plasmic/sterling_and_buena_vista_foods/images/empanadasAvif.avif") top 50% left 800px / 80% 100% no-repeat
      padding-box border-box;
  overflow: visible;
  margin-left: -20px;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .image2 {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/empanadasAvif.avif") 0% 0% / contain no-repeat;
    margin: 0px;
  }
}
@media (max-width: 1512px) {
  .image2 {
    height: 399px;
  }
}
@media (max-width: 1440px) {
  .image2 {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/empanadasAvif.avif") 0% 0% / contain no-repeat;
    margin: 0px;
  }
}
@media (max-width: 1280px) {
  .image2 {
    width: 550px;
    flex-shrink: 0;
  }
}
@media (max-width: 1200px) {
  .image2 {
    width: 550px;
    background: url("/plasmic/sterling_and_buena_vista_foods/images/empanadasAvif.avif") 0% 0% / contain no-repeat;
    flex-shrink: 0;
    margin: 0px;
  }
}
@media (max-width: 1024px) {
  .image2 {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/empanadasAvif.avif") top 0% right 4.88% / contain no-repeat;
    width: 700px;
    height: 400px;
    display: flex;
    align-self: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 0px;
    flex-shrink: 0;
    margin: 0px;
  }
}
@media (max-width: 757px) {
  .image2 {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/empanadasAvif.avif") 0% 0% / contain no-repeat;
    width: 100%;
    height: 400px;
    min-width: 0;
    flex-shrink: 0;
    margin: 0px;
  }
}
@media (max-width: 430px) {
  .image2 {
    height: 250px;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .image2 {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/empanadasAvif.avif") 0% 0% / contain no-repeat;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    min-width: 0;
    flex-shrink: 0;
    margin: 0px;
  }
}
.innovationResponsive {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--token-dvRKU9xNWE2S);
  column-gap: 0px;
  align-self: auto;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.innovationResponsive > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.innovationResponsive > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 2000px) {
  .innovationResponsive {
    --plsmc-rc-col-gap: 0px;
  }
}
@media (max-width: 1920px) {
  .innovationResponsive {
    --plsmc-rc-col-gap: 0px;
  }
}
@media (max-width: 1512px) {
  .innovationResponsive {
    width: 100%;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (max-width: 1440px) {
  .innovationResponsive {
    padding-top: 0px;
    margin-top: 0px;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (max-width: 1280px) {
  .innovationResponsive {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    column-gap: 20px;
    row-gap: 20px;
    --plsmc-rc-col-gap: 20px;
  }
}
@media (max-width: 1200px) {
  .innovationResponsive {
    column-gap: 20px;
    row-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    --plsmc-rc-col-gap: 20px;
    margin: 0px;
  }
}
@media (max-width: 1024px) {
  .innovationResponsive {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: auto;
    row-gap: 0px;
    min-width: 0;
    --plsmc-rc-col-gap: 20px;
    padding: 40px 20px;
  }
}
@media (max-width: 1024px) {
  .innovationResponsive > :nth-child(2n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 1024px) {
  .innovationResponsive > :nth-child(2n + 2) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 757px) {
  .innovationResponsive {
    column-gap: 20px;
    row-gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    --plsmc-rc-col-gap: 20px;
  }
}
@media (max-width: 757px) {
  .innovationResponsive > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
@media (max-width: 414px) {
  .innovationResponsive {
    height: auto;
    --plsmc-rc-col-gap: 20px;
  }
}
@media (max-width: 375px) {
  .innovationResponsive {
    height: auto;
    --plsmc-rc-col-gap: 20px;
    padding: 15px;
  }
}
.column__dW8Wt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (max-width: 1024px) {
  .column__dW8Wt {
    align-items: center;
    justify-content: center;
  }
}
.freeBox__r7Arz {
  display: block;
  position: relative;
  width: 593px;
  height: 726px;
  max-width: 100%;
  background: url("/plasmic/sterling_and_buena_vista_foods/images/bakerAvif.avif") top 50% left 50% / cover repeat;
  align-self: center;
  z-index: 1;
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (max-width: 2000px) {
  .freeBox__r7Arz {
    margin: -80px;
  }
}
@media (max-width: 1920px) {
  .freeBox__r7Arz {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/bakerAvif.avif") top 50% left 50% / contain no-repeat;
    height: 800px;
    width: 593px;
    display: block;
    align-self: center;
    flex-shrink: 0;
    margin: -100px;
  }
}
@media (max-width: 1440px) {
  .freeBox__r7Arz {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/bakerAvif.avif") top 50% left 50% / contain no-repeat;
  }
}
@media (max-width: 1200px) {
  .freeBox__r7Arz {
    width: 100%;
    min-width: 0;
    margin: 0px;
  }
}
@media (max-width: 1024px) {
  .freeBox__r7Arz {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/bakerAvif.avif") top 50% left 50% / contain no-repeat;
    width: 100%;
    height: 600px;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (max-width: 757px) {
  .freeBox__r7Arz {
    width: 100%;
    height: 500px;
    padding-bottom: 0px;
    min-width: 0;
    flex-shrink: 0;
    margin: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox__r7Arz {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/bakerAvif.avif") top 50% left 50% / contain no-repeat;
    height: 400px;
    flex-shrink: 0;
    margin: 0px;
  }
}
.column__f0O4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 60px 0px 0px;
}
@media (max-width: 1920px) {
  .column__f0O4 {
    padding-right: 100px;
  }
}
@media (max-width: 1700px) {
  .column__f0O4 {
    padding-right: 60px;
  }
}
@media (max-width: 1440px) {
  .column__f0O4 {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  .column__f0O4 {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    padding-right: 0px;
  }
}
@media (max-width: 1024px) {
  .column__f0O4 {
    align-items: center;
    padding-right: 0px;
  }
}
@media (max-width: 414px) {
  .column__f0O4 {
    padding-right: 0px;
  }
}
.freeBox__gD3PN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1440px) {
  .freeBox__gD3PN {
    width: 750px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: flex-start;
    justify-content: center;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .freeBox__gD3PN {
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 20px;
    column-gap: 20px;
    padding: 10px;
  }
}
.freeBox__cBh8C {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 15px;
  min-width: 0;
}
@media (max-width: 1512px) {
  .freeBox__cBh8C {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
@media (max-width: 1440px) {
  .freeBox__cBh8C {
    width: auto;
    align-self: flex-start;
  }
}
@media (max-width: 1280px) {
  .freeBox__cBh8C {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
@media (max-width: 1200px) {
  .freeBox__cBh8C {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
@media (max-width: 1024px) {
  .freeBox__cBh8C {
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    row-gap: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox__cBh8C {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    flex-wrap: wrap;
    align-items: stretch;
  }
}
@media (max-width: 375px) {
  .freeBox__cBh8C {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.h4__gwMWe {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-sP5FKk2rRQuW);
}
@media (max-width: 1440px) {
  .h4__gwMWe {
    font-size: var(--token-KiAZW0gIrhlw);
    align-self: center;
  }
}
@media (max-width: 1024px) {
  .h4__gwMWe {
    font-size: var(--token-KiAZW0gIrhlw);
    line-height: 100%;
  }
}
@media (max-width: 757px) {
  .h4__gwMWe {
    font-size: var(--token-UXPBeNJ4rrVx);
  }
}
.h3__vQRj1 {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-sP5FKk2rRQuW);
  align-self: flex-end;
}
@media (max-width: 1440px) {
  .h3__vQRj1 {
    font-size: var(--token-2PDYAFnsh1xM);
  }
}
@media (max-width: 1200px) {
  .h3__vQRj1 {
    font-size: var(--token-zhrnaxKHsmJK);
  }
}
@media (max-width: 1024px) {
  .h3__vQRj1 {
    font-size: var(--token-zhrnaxKHsmJK);
  }
}
@media (max-width: 757px) {
  .h3__vQRj1 {
    font-size: var(--token-zhrnaxKHsmJK);
  }
}
.p__pbUxp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-sP5FKk2rRQuW);
  min-width: 0;
}
@media (max-width: 1440px) {
  .p__pbUxp {
    font-size: var(--token-LM4KfHPZ4AUG);
  }
}
@media (max-width: 1024px) {
  .p__pbUxp {
    text-align: left;
    font-size: var(--token-LM4KfHPZ4AUG);
    line-height: 30px;
  }
}
@media (max-width: 757px) {
  .p__pbUxp {
    line-height: 30px;
  }
}
.buttons {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 30px;
  min-width: 0;
}
@media (max-width: 1440px) {
  .buttons {
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    column-gap: 10px;
    height: auto;
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    min-width: 0;
  }
}
@media (max-width: 1280px) {
  .buttons {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
@media (max-width: 1200px) {
  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
}
@media (max-width: 1024px) {
  .buttons {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 0px;
  }
}
.secondaryBtn__pKcaL:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .secondaryBtn__pKcaL:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1440px) {
  .secondaryBtn__pKcaL:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1280px) {
  .secondaryBtn__pKcaL:global(.__wab_instance) {
    margin-bottom: 10px;
    flex-shrink: 0;
  }
}
@media (max-width: 1200px) {
  .secondaryBtn__pKcaL:global(.__wab_instance) {
    margin-bottom: 10px;
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .secondaryBtn__pKcaL:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .secondaryBtn__pKcaL:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .text__udAml {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .text__udAml {
    font-size: 18px;
  }
}
.secondaryBtn__xb607:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (max-width: 1440px) {
  .secondaryBtn__xb607:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1200px) {
  .secondaryBtn__xb607:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .secondaryBtn__xb607:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .text__acejO {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .text__acejO {
    font-size: 18px;
  }
}
.reviews:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (max-width: 1920px) {
  .reviews:global(.__wab_instance) {
    position: relative;
    top: auto;
    left: auto;
    flex-shrink: 0;
  }
}
@media (max-width: 1512px) {
  .reviews:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.ctaBottom:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
@media (max-width: 2000px) {
  .ctaBottom:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1920px) {
  .ctaBottom:global(.__wab_instance) {
    position: relative;
    top: auto;
    left: auto;
    flex-shrink: 0;
  }
}
@media (max-width: 1440px) {
  .ctaBottom:global(.__wab_instance) {
    position: relative;
    top: auto;
    left: auto;
    z-index: 1;
  }
}
.homeFooter {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1440px) {
  .homeFooter {
    height: auto;
  }
}
@media (max-width: 1280px) {
  .homeFooter {
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (max-width: 2000px) {
  .footer:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1440px) {
  .footer:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
    z-index: 1;
  }
}
@media (max-width: 1280px) {
  .footer:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
    align-self: baseline;
  }
}
@media (max-width: 1024px) {
  .footer:global(.__wab_instance) {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
