.aboutUsHero {
  flex-direction: column;
  width: 100%;
  height: 400px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: url("/plasmic/sterling_and_buena_vista_foods/images/heroPng2.png") top 50% left 50% / cover no-repeat;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  padding: 0px;
}
@media (max-width: 2000px) {
  .aboutUsHero {
    display: flex;
  }
}
@media (max-width: 1024px) {
  .aboutUsHero {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  font-size: var(--token-TQ01AK4kGGLa);
  color: var(--token-sP5FKk2rRQuW);
  align-self: center;
  text-align: center;
  min-width: 0;
}
@media (max-width: 375px) {
  .text {
    line-height: 60px;
  }
}
