.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg__p9R9 {
  position: relative;
  color: var(--token-I4qaFqA_B1z8);
  height: 1em;
}
.svg__q7Py3 {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: #ffffff;
  display: block;
  color: var(--token-4Cdw41zGDm2p);
  font-family: var(--token-MZlo_dcXZCyh);
  font-size: var(--token-TQ01AK4kGGLa);
  line-height: var(--token-xqu7e6j0VvPH);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-o_PLsn_Vel2C);
}
.pcls_6Dj15CObTujL {
  background: #0a0a0a80;
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.h3__xR0J7 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-XJX5SmE-YNyu);
  min-width: 0;
  padding: var(--token-tepCFtqdx9nI);
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-tepCFtqdx9nI);
  padding-right: var(--token-tepCFtqdx9nI);
}
.freeBox__ootNh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-oFMBMezZplj-);
}
.text__d8Top {
  position: relative;
}
.freeBox__i9Mbb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
  padding: var(--token-tepCFtqdx9nI);
}
.svg__jdRvj {
  position: relative;
  color: var(--token-I4qaFqA_B1z8);
  height: 1em;
}
.text__cxIir {
  padding-left: 0px;
}
.svg__a8No9 {
  position: relative;
  height: 1em;
}
