.ariaCheckbox:global(.__wab_instance) {
  object-fit: cover;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  color: var(--token-4Cdw41zGDm2p);
  font-family: var(--token-MZlo_dcXZCyh);
  font-size: var(--token-TQ01AK4kGGLa);
  line-height: var(--token-xqu7e6j0VvPH);
  width: 100%;
  column-gap: var(--token-QOC-1xrvgWwP);
  min-width: 0;
}
.ariaCheckbox[data-disabled][data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaCheckbox[data-readonly][data-readonly]:global(.__wab_instance) {
  cursor: default;
  pointer-events: none;
}
.freeBox {
  position: relative;
  width: var(--token-WQno2EAu9h8e);
  height: var(--token-WQno2EAu9h8e);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-LKnbPXUiL4MJ);
  border: 2px solid var(--token-RN6-6smk2YHi);
}
.ariaCheckbox[data-focus-visible] .freeBox {
  outline-style: solid;
  outline-color: #2563eb;
  outline-offset: 1px;
  outline-width: 2px;
}
.ariaCheckbox[data-indeterminate] .freeBox {
  background: #2563eb;
  border-color: #2563eb;
}
.ariaCheckbox[data-selected] .freeBox {
  background: #2563eb;
  border-color: #2563eb;
}
.svg___2Trnv {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-selected] .svg___2Trnv {
  display: block;
}
.svg__cgWcQ {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-indeterminate] .svg__cgWcQ {
  display: block;
}
