.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
@media (max-width: 1920px) {
  .root {
    overflow: visible;
  }
}
.pageContainer {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1920px;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
  min-width: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 1920px) {
  .header:global(.__wab_instance) {
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
.topHero:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .topHero:global(.__wab_instance) {
    max-width: 1920px;
    width: 100%;
    min-width: 0;
    flex-shrink: 0;
  }
}
.marketsBody {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 110px 0% 0px 15px;
}
@media (max-width: 530px) {
  .marketsBody {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 414px) {
  .marketsBody {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding-right: 20px;
    padding-left: 20px;
    column-gap: 0px;
  }
}
.intro {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1700px) {
  .intro {
    padding: 20px;
  }
}
@media (max-width: 1280px) {
  .intro {
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .intro {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  flex-wrap: wrap;
  align-content: center;
  align-self: center;
  text-align: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 530px) {
  .freeBox {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-content: center;
    justify-content: center;
    column-gap: 0px;
  }
}
@media (max-width: 430px) {
  .freeBox {
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    column-gap: 0px;
  }
}
.h3__cpuet {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  pointer-events: none;
}
@media (max-width: 530px) {
  .h3__cpuet {
    text-align: center;
    font-size: 70px;
  }
}
@media (max-width: 414px) {
  .h3__cpuet {
    text-align: center;
  }
}
.h4__fmzSc {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  text-align: center;
  font-family: "Georgia";
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
  align-self: center;
}
@media (max-width: 1280px) {
  .h4__fmzSc {
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
.p__ptTp3 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
@media (max-width: 1920px) {
  .p__ptTp3 {
    width: 1200px;
  }
}
@media (max-width: 1700px) {
  .p__ptTp3 {
    width: 80%;
  }
}
@media (max-width: 757px) {
  .p__ptTp3 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 530px) {
  .p__ptTp3 {
    width: 100%;
    min-width: 0;
    padding: 40px 0px;
  }
}
@media (max-width: 430px) {
  .p__ptTp3 {
    width: 100%;
    min-width: 0;
    padding: 40px 20px;
  }
}
@media (max-width: 414px) {
  .p__ptTp3 {
    width: 100%;
    min-width: 0;
    padding: 40px 10px;
  }
}
.national {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: visible;
  align-self: flex-start;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 130px 130px 100px;
}
.national > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.national > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 1700px) {
  .national {
    --plsmc-rc-col-gap: 0px;
    padding: 8%;
  }
}
@media (max-width: 1024px) {
  .national {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (max-width: 1024px) {
  .national > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___51R2P {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__msSnL {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 550px;
  z-index: 0;
  left: 0px;
  top: 0px;
  position: absolute;
  flex-shrink: 0;
}
.img__msSnL > picture > img {
  object-fit: cover;
}
@media (max-width: 1700px) {
  .img__msSnL {
    height: auto;
  }
}
@media (max-width: 1512px) {
  .img__msSnL {
    height: 130%;
  }
}
@media (max-width: 1280px) {
  .img__msSnL {
    height: 100%;
  }
}
@media (max-width: 1200px) {
  .img__msSnL {
    left: 0px;
    top: 0px;
  }
}
@media (max-width: 1024px) {
  .img__msSnL {
    left: 0px;
    top: 0px;
  }
}
@media (max-width: 414px) {
  .img__msSnL {
    height: 50%;
  }
}
.img___6NoRb {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 574px;
  height: auto;
}
.img___6NoRb > picture > img {
  object-fit: cover;
}
@media (max-width: 1700px) {
  .img___6NoRb {
    width: auto;
    max-width: 75%;
  }
}
@media (max-width: 757px) {
  .img___6NoRb {
    width: 50%;
  }
}
@media (max-width: 530px) {
  .img___6NoRb {
    width: 63.25%;
  }
}
@media (max-width: 414px) {
  .img___6NoRb {
    margin-right: 0px;
    width: 100%;
    min-width: 0;
  }
}
.column__lDybX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1024px) {
  .column__lDybX {
    align-items: center;
    justify-content: flex-start;
  }
}
.title {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1280px) {
  .title {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: center;
    column-gap: 0px;
  }
}
@media (max-width: 1200px) {
  .title {
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .title {
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
}
.h3__nLzWp {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  pointer-events: none;
}
@media (max-width: 1024px) {
  .h3__nLzWp {
    text-align: center;
    align-self: center;
  }
}
.h4__m8Qr {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
}
@media (max-width: 1920px) {
  .h4__m8Qr {
    padding-bottom: 0px;
  }
}
@media (max-width: 1024px) {
  .h4__m8Qr {
    align-self: center;
  }
}
.paragraph {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1920px) {
  .paragraph {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.p___4LkW {
  animation: none;
  position: relative;
  width: 791px;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
}
@media (max-width: 1920px) {
  .p___4LkW {
    width: 739px;
  }
}
@media (max-width: 1200px) {
  .p___4LkW {
    text-align: left;
    width: 100%;
    min-width: 0;
  }
}
.schoolFoodservice3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 55px 130px;
}
.schoolFoodservice3 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
.schoolFoodservice3 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
@media (max-width: 1700px) {
  .schoolFoodservice3 {
    --plsmc-rc-col-gap: 0px;
    padding: 4% 8%;
  }
}
@media (max-width: 1512px) {
  .schoolFoodservice3 {
    flex-direction: row;
    flex-wrap: nowrap;
    row-gap: 0px;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (max-width: 1512px) {
  .schoolFoodservice3 > :nth-child(2n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 1512px) {
  .schoolFoodservice3 > :nth-child(2n + 2) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
  }
}
@media (max-width: 1024px) {
  .schoolFoodservice3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (max-width: 1024px) {
  .schoolFoodservice3 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__toOnr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1024px) {
  .column__toOnr {
    align-items: center;
    justify-content: flex-start;
  }
}
.title2 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 727px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  padding: 8px;
}
@media (max-width: 1280px) {
  .title2 {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: center;
    column-gap: 0px;
  }
}
@media (max-width: 1200px) {
  .title2 {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .title2 {
    padding: 15px;
  }
}
.h3__gw5Oz {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  pointer-events: none;
}
.h4__msdny {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
}
.paragraph2 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 727px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 50px;
}
@media (max-width: 1200px) {
  .paragraph2 {
    align-items: center;
    justify-content: center;
  }
}
.p___6ZfH {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  align-self: auto;
  min-width: 0;
}
@media (max-width: 1920px) {
  .p___6ZfH {
    width: 693px;
  }
}
@media (max-width: 1200px) {
  .p___6ZfH {
    text-align: left;
    width: 100%;
    min-width: 0;
  }
}
.aboutUs {
  display: flex;
}
.primaryBtn:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (max-width: 430px) {
  .primaryBtn:global(.__wab_instance) {
    width: 300px;
    flex-shrink: 0;
  }
}
.text {
  color: var(--token-VSsNRyw2VYkH);
}
@media (max-width: 430px) {
  .text {
    text-align: center;
  }
}
@media (max-width: 414px) {
  .text {
    text-align: center;
  }
}
.column__q1ZpS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1200px) {
  .column__q1ZpS {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .column__q1ZpS {
    padding: 20px;
  }
}
.img__opTma {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 697px;
  height: auto;
}
.img__opTma > picture > img {
  object-fit: cover;
}
@media (max-width: 1700px) {
  .img__opTma {
    width: auto;
    max-width: 90%;
  }
}
@media (max-width: 1512px) {
  .img__opTma {
    width: 590px;
  }
}
@media (max-width: 1024px) {
  .img__opTma {
    width: 50%;
  }
}
@media (max-width: 757px) {
  .img__opTma {
    width: 50%;
  }
}
@media (max-width: 530px) {
  .img__opTma {
    width: 79.32%;
  }
}
@media (max-width: 414px) {
  .img__opTma {
    margin-right: 0px;
    width: 100%;
    min-width: 0;
  }
}
.convenienceStores2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: flex-start;
  overflow: visible;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 130px 130px 100px;
}
.convenienceStores2 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.convenienceStores2 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 1700px) {
  .convenienceStores2 {
    --plsmc-rc-col-gap: 0px;
    padding: 8%;
  }
}
@media (max-width: 1024px) {
  .convenienceStores2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (max-width: 1024px) {
  .convenienceStores2 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___9Qg7L {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1024px) {
  .column___9Qg7L {
    align-items: center;
    padding: 20px;
  }
}
.img__kcvXq {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 698px;
  height: auto;
  align-self: flex-start;
}
.img__kcvXq > picture > img {
  object-fit: cover;
}
@media (max-width: 1700px) {
  .img__kcvXq {
    width: auto;
    max-width: 90%;
  }
}
@media (max-width: 1024px) {
  .img__kcvXq {
    align-self: center;
  }
}
@media (max-width: 757px) {
  .img__kcvXq {
    width: 50%;
  }
}
@media (max-width: 530px) {
  .img__kcvXq {
    width: 85.94%;
  }
}
@media (max-width: 414px) {
  .img__kcvXq {
    margin-right: 0px;
    width: 100%;
    min-width: 0;
  }
}
.column__n8SMe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.title3 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1280px) {
  .title3 {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: center;
    column-gap: 0px;
  }
}
@media (max-width: 1024px) {
  .title3 {
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
}
.h3__jy3TC {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  pointer-events: none;
}
@media (max-width: 1024px) {
  .h3__jy3TC {
    text-align: center;
    align-self: center;
  }
}
.h4___3F273 {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
}
@media (max-width: 1920px) {
  .h4___3F273 {
    padding-bottom: 0px;
  }
}
@media (max-width: 1024px) {
  .h4___3F273 {
    align-self: center;
    text-align: center;
  }
}
.paragraph3 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  text-align: left;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.p__jreLi {
  animation: none;
  position: relative;
  width: 736px;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  align-self: flex-start;
}
@media (max-width: 1024px) {
  .p__jreLi {
    align-self: center;
  }
}
.floatingImage {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: url("/plasmic/sterling_and_buena_vista_foods/images/backgroundForfloatingImgAvif.avif") top 50% left 50% / cover repeat;
  height: 627px;
  min-width: 0;
  flex-shrink: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.floatingImage > * {
  grid-column: 4;
}
@media (max-width: 1920px) {
  .floatingImage > * {
    grid-column: 4;
  }
}
@media (max-width: 1512px) {
  .floatingImage > * {
    grid-column: 4;
  }
}
@media (max-width: 1280px) {
  .floatingImage > * {
    grid-column: 4;
  }
}
@media (max-width: 530px) {
  .floatingImage {
    height: auto;
  }
}
@media (max-width: 530px) {
  .floatingImage > * {
    grid-column: 4;
  }
}
.img___5UwcA {
  object-fit: contain;
  max-width: 100%;
  width: 1020px;
  height: 627px;
}
.img___5UwcA > picture > img {
  object-fit: contain;
}
@media (max-width: 1920px) {
  .img___5UwcA {
    object-fit: contain;
  }
}
@media (max-width: 1920px) {
  .img___5UwcA > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 1280px) {
  .img___5UwcA {
    max-width: 80%;
  }
}
@media (max-width: 757px) {
  .img___5UwcA {
    margin-bottom: 0px;
    height: 607px;
  }
}
@media (max-width: 530px) {
  .img___5UwcA {
    height: 100%;
    min-height: 0;
  }
}
.orangehighlightSection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-dvRKU9xNWE2S);
  margin-top: -2px;
  min-width: 0;
  padding: 0px;
}
.ourMilitarySection {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: visible;
  column-gap: 36px;
  min-width: 0;
  padding: 0px 130px;
}
@media (max-width: 1920px) {
  .ourMilitarySection {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 1512px) {
  .ourMilitarySection {
    padding: 50px;
  }
}
@media (max-width: 1440px) {
  .ourMilitarySection {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 1280px) {
  .ourMilitarySection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 0px;
    row-gap: 0px;
  }
}
@media (max-width: 1200px) {
  .ourMilitarySection {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 1024px) {
  .ourMilitarySection {
    display: flex;
    flex-direction: row;
    column-gap: 36px;
    flex-wrap: wrap;
    align-items: stretch;
  }
}
@media (max-width: 757px) {
  .ourMilitarySection {
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 36px;
    justify-content: center;
    align-content: flex-start;
  }
}
@media (max-width: 430px) {
  .ourMilitarySection {
    padding-bottom: 62px;
  }
}
@media (max-width: 414px) {
  .ourMilitarySection {
    padding: 0px 20px;
  }
}
.img___3FxH {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 710px;
  height: auto;
  flex-shrink: 0;
}
.img___3FxH > picture > img {
  object-fit: cover;
}
@media (max-width: 1440px) {
  .img___3FxH {
    width: 45%;
  }
}
@media (max-width: 1024px) {
  .img___3FxH {
    width: auto;
    max-width: 90%;
  }
}
@media (max-width: 757px) {
  .img___3FxH {
    max-width: 70%;
  }
}
@media (max-width: 414px) {
  .img___3FxH {
    margin-right: 0px;
  }
}
.text4 {
  animation: none;
  position: relative;
  background: none;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
  width: 60%;
  flex-direction: column;
  display: flex;
  border-radius: 39px;
  padding: 20px 55px;
}
@media (max-width: 1920px) {
  .text4 {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 40px;
    column-gap: 0px;
  }
}
@media (max-width: 1512px) {
  .text4 {
    margin-right: 0px;
    width: 46.63%;
    padding: 40px;
  }
}
@media (max-width: 1280px) {
  .text4 {
    width: 80%;
    align-self: center;
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .text4 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 757px) {
  .text4 {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.title4 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1280px) {
  .title4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    align-self: center;
    text-align: center;
    row-gap: 0px;
  }
}
.h3__d5WQv {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-sP5FKk2rRQuW);
  pointer-events: none;
}
.h4__cX8B {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-sP5FKk2rRQuW);
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
}
@media (max-width: 1280px) {
  .h4__cX8B {
    padding: 5px 0px 0px;
  }
}
.paragraph4 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1920px) {
  .paragraph4 {
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .paragraph4 {
    align-items: center;
    justify-content: center;
  }
}
.p___4WcxP {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-sP5FKk2rRQuW);
  min-width: 0;
}
@media (max-width: 1920px) {
  .p___4WcxP {
    width: 788px;
    text-align: left;
  }
}
@media (max-width: 1280px) {
  .p___4WcxP {
    width: 100%;
    text-align: left;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .p___4WcxP {
    width: 856px;
  }
}
.schoolFoodservice2 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: visible;
  column-gap: 36px;
  min-width: 0;
  padding: 0px 130px 100px;
}
@media (max-width: 1920px) {
  .schoolFoodservice2 {
    padding-top: 0px;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (max-width: 1512px) {
  .schoolFoodservice2 {
    padding: 50px;
  }
}
@media (max-width: 1440px) {
  .schoolFoodservice2 {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 1280px) {
  .schoolFoodservice2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 36px;
    row-gap: 0px;
  }
}
@media (max-width: 1200px) {
  .schoolFoodservice2 {
    padding: 80px 30px;
  }
}
@media (max-width: 1024px) {
  .schoolFoodservice2 {
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
  }
}
@media (max-width: 757px) {
  .schoolFoodservice2 {
    flex-wrap: wrap-reverse;
    align-items: stretch;
    row-gap: 26px;
  }
}
@media (max-width: 414px) {
  .schoolFoodservice2 {
    padding: 0px 20px 20px;
  }
}
.text5 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  row-gap: 5px;
  border-radius: 39px;
  padding: 60px;
}
@media (max-width: 1920px) {
  .text5 {
    padding: 80px 40px 40px;
  }
}
@media (max-width: 1512px) {
  .text5 {
    padding: 40px;
  }
}
@media (max-width: 1280px) {
  .text5 {
    width: 80%;
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .text5 {
    width: 906px;
    flex-shrink: 0;
  }
}
@media (max-width: 757px) {
  .text5 {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.title5 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1280px) {
  .title5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    row-gap: 0px;
  }
}
@media (max-width: 430px) {
  .title5 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.h3__sJ8Vq {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-sP5FKk2rRQuW);
  pointer-events: none;
}
.h4__wKdJb {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-sP5FKk2rRQuW);
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
}
.paragraph5 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 50px;
  min-width: 0;
  padding: 0px;
}
.p__kdmR {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-sP5FKk2rRQuW);
  min-width: 0;
}
@media (max-width: 1280px) {
  .p__kdmR {
    text-align: left;
  }
}
@media (max-width: 1024px) {
  .p__kdmR {
    padding: 20px;
  }
}
.img__a4LP2 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 698px;
  height: auto;
  flex-shrink: 0;
}
.img__a4LP2 > picture > img {
  object-fit: cover;
}
@media (max-width: 1440px) {
  .img__a4LP2 {
    width: 45%;
  }
}
@media (max-width: 1280px) {
  .img__a4LP2 {
    width: 40%;
  }
}
@media (max-width: 1024px) {
  .img__a4LP2 {
    height: auto;
    width: auto;
    max-width: 90%;
  }
}
@media (max-width: 757px) {
  .img__a4LP2 {
    max-width: 70%;
  }
}
@media (max-width: 414px) {
  .img__a4LP2 {
    margin-right: 0px;
  }
}
.ctaBottom:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .ctaBottom:global(.__wab_instance) {
    height: 656px;
    flex-shrink: 0;
  }
}
@media (max-width: 1700px) {
  .ctaBottom:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1512px) {
  .ctaBottom:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1200px) {
  .ctaBottom:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 757px) {
  .ctaBottom:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 530px) {
  .ctaBottom:global(.__wab_instance) {
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 430px) {
  .ctaBottom:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 1024px) {
  .footer:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
