@import "../react_aria/plasmic.css"; /* plasmic-import: gmeH6XgPaBtkt51HunAo4g/projectcss */
@import "../react_awesome_reveal/plasmic.css"; /* plasmic-import: 58GpZjZCWTaJ8AUhpCwt2K/projectcss */
@import "../library_tabler_3_2_icons/plasmic.css"; /* plasmic-import: d2Pfbr6bN5UwJ4ss7Fh3HB/projectcss */
@import "../library_tailwind_3_4_color_tokens/plasmic.css"; /* plasmic-import: 5ZtnypMovRHeeP3YTdPCYL/projectcss */
@import "../library_tailwind_3_4_number_tokens/plasmic.css"; /* plasmic-import: 4vjRXvnb4XuY6J15w9oRcQ/projectcss */
@import "../plasmic_embed_css/plasmic.css"; /* plasmic-import: 8PtdGodUbexNYgkuyBUcWu/projectcss */
@import "../plasmic_basic_components/plasmic.css"; /* plasmic-import: caTPwKxj5ZrD9LQ7DMdK4Z/projectcss */
@import "../plasmic_nav/plasmic.css"; /* plasmic-import: 7nJ7UcFmq9UzB6eXfC5z4a/projectcss */
@import "../react_slick/plasmic.css"; /* plasmic-import: r3ASNrnyvLLLAtDvzUioQ/projectcss */
@import "../plasmic_wordpress_graphql/plasmic.css"; /* plasmic-import: oXVrxYC89mShS9snFdmRWc/projectcss */
@import "../plasmic_query/plasmic.css"; /* plasmic-import: YUiM7yqBWAqsh8KSnrdj7/projectcss */
@import "../antd_5_hostless/plasmic.css"; /* plasmic-import: ohDidvG9XsCeFumugENU3J/projectcss */
@import "../plasmic_rich_components/plasmic.css"; /* plasmic-import: jkU633o1Cz7HrJdwdxhVHk/projectcss */
@import "../loading_boundary/plasmic.css"; /* plasmic-import: 9Vr5YWkf3w7jj6SsTcCEta/projectcss */
@import "../date_fns/plasmic.css"; /* plasmic-import: 77tPPMY1MAED1Fqwv1T1ig/projectcss */
@import "../copy_to_clipboard/plasmic.css"; /* plasmic-import: aEHVN5v6mfM4eovDsL8Z7d/projectcss */
@import "../lodash/plasmic.css"; /* plasmic-import: hsyJcmBceSfPzvvXzVTuk7/projectcss */
@import "../react_scroll_parallax_global/plasmic.css"; /* plasmic-import: 84wxoth5npGrp6RRXPL88z/projectcss */
@import "../react_parallax_tilt/plasmic.css"; /* plasmic-import: szjgMQpPpxhmkjnaBvZQJG/projectcss */
@import "../rive/plasmic.css"; /* plasmic-import: 5v1p2i7GvsoMJk4KqrA6F3/projectcss */
@import "../plasmic_kit_animations/plasmic.css"; /* plasmic-import: axVArpcqgHCPMKB2yUGsW3/projectcss */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens_uyaK17nhz8WhGjYZfKjMhX {
  --token-QOC-1xrvgWwP: 0.5rem;
  --plasmic-token-size-8: var(--token-QOC-1xrvgWwP);
  --token-MZlo_dcXZCyh: cambria;
  --plasmic-token-cambria: var(--token-MZlo_dcXZCyh);
  --token-TQ01AK4kGGLa: 90px;
  --plasmic-token-h-2: var(--token-TQ01AK4kGGLa);
  --token-xqu7e6j0VvPH: 1.25;
  --plasmic-token-line-height-md: var(--token-xqu7e6j0VvPH);
  --token-N6OOSLbGhLr_: 0.375rem;
  --plasmic-token-size-6: var(--token-N6OOSLbGhLr_);
  --token-cHbJj-eAxewt: 0.25rem;
  --plasmic-token-size-4: var(--token-cHbJj-eAxewt);
  --token-bz_jwTPaNVWx: 139.74px;
  --plasmic-token-h-1-script: var(--token-bz_jwTPaNVWx);
  --token-BQc1p8jUp6d5: 1;
  --plasmic-token-line-height-sm: var(--token-BQc1p8jUp6d5);
  --token-XJX5SmE-YNyu: 102.6px;
  --plasmic-token-h-1: var(--token-XJX5SmE-YNyu);
  --token-55efdnybOT2Q: 1.4;
  --plasmic-token-line-height-lg: var(--token-55efdnybOT2Q);
  --token-LKnbPXUiL4MJ: 0.125rem;
  --plasmic-token-size-2: var(--token-LKnbPXUiL4MJ);
  --token-xSplwyl9ncm5: 0.625rem;
  --plasmic-token-size-10: var(--token-xSplwyl9ncm5);
  --token-oFMBMezZplj-: 0.75rem;
  --plasmic-token-size-12: var(--token-oFMBMezZplj-);
  --token-I4qaFqA_B1z8: #c3761e;
  --plasmic-token-second: var(--token-I4qaFqA_B1z8);
  --token-Gx156sR9ht1r: var(--token-sP5FKk2rRQuW);
  --plasmic-token-primary: var(--token-Gx156sR9ht1r);
  --token-sP5FKk2rRQuW: var(--token-2G4aHgk_mSgB);
  --plasmic-token-background-accent: var(--token-sP5FKk2rRQuW);
  --token-9ltCdO3Xj-ky: #f5e9d4;
  --plasmic-token-tan-background: var(--token-9ltCdO3Xj-ky);
  --token-2G4aHgk_mSgB: #ffffff;
  --plasmic-token-white: var(--token-2G4aHgk_mSgB);
  --token-tSV7abhwNCNh: 30px;
  --plasmic-token-button-r: var(--token-tSV7abhwNCNh);
  --token-GWrcQQRzM3SG: var(--token-OJSN3W0Myvht);
  --plasmic-token-size-32: var(--token-GWrcQQRzM3SG);
  --token-o_PLsn_Vel2C: var(--token-0tl2H1TRPHhV);
  --plasmic-token-size-16: var(--token-o_PLsn_Vel2C);
  --token-tepCFtqdx9nI: var(--token-ekJK2BNXfyOR);
  --plasmic-token-size-24: var(--token-tepCFtqdx9nI);
  --token-WQno2EAu9h8e: var(--token-TONjX_YbO9_T);
  --plasmic-token-size-20: var(--token-WQno2EAu9h8e);
  --token-VSsNRyw2VYkH: #c37620;
  --plasmic-token-accent: var(--token-VSsNRyw2VYkH);
  --token-Xx7oe00aHq8H: #0b284a;
  --plasmic-token-text-color: var(--token-Xx7oe00aHq8H);
  --token-3FFZ7xNHqr9C: Fave Script Pro;
  --plasmic-token-fave-script: var(--token-3FFZ7xNHqr9C);
  --token-C7OS3BW_K9or: Avenir;
  --plasmic-token-avenir-lt-pro-55-roman: var(--token-C7OS3BW_K9or);
  --token-lvb_uNtWfpc4: 63px;
  --plasmic-token-h-3: var(--token-lvb_uNtWfpc4);
  --token-zhrnaxKHsmJK: 95px;
  --plasmic-token-h-3-script: var(--token-zhrnaxKHsmJK);
  --token-KiAZW0gIrhlw: 55px;
  --plasmic-token-h-4: var(--token-KiAZW0gIrhlw);
  --token-2PDYAFnsh1xM: 85px;
  --plasmic-token-h-4-script: var(--token-2PDYAFnsh1xM);
  --token-LM4KfHPZ4AUG: 24px;
  --plasmic-token-p: var(--token-LM4KfHPZ4AUG);
  --token-GYC664WLsCwo: 22px;
  --plasmic-token-buttons: var(--token-GYC664WLsCwo);
  --token-SeC4JQ6Nr4hA: 21px;
  --plasmic-token-menu: var(--token-SeC4JQ6Nr4hA);
  --token-YIujf07O3Oep: 1.5;
  --plasmic-token-p-2: var(--token-YIujf07O3Oep);
  --token-cNt1XdkkgeTQ: var(--token-YIujf07O3Oep);
  --plasmic-token-unnamed-style-token: var(--token-cNt1XdkkgeTQ);
  --token-455ns3DBW2hn: var(--token-Xx7oe00aHq8H);
  --plasmic-token-unnamed-style-token-2: var(--token-455ns3DBW2hn);
  --token-YRLs3dbZJG3Q: #b76e1b;
  --plasmic-token-unnamed-style-token-3: var(--token-YRLs3dbZJG3Q);
  --token-of31pJZnvNmd: #81452d;
  --plasmic-token-menu-modal: var(--token-of31pJZnvNmd);
  --token-kuHCOakvjM__: #ffffff;
  --plasmic-token-unnamed-style-token-4: var(--token-kuHCOakvjM__);
  --token-dvRKU9xNWE2S: #d37456;
  --plasmic-token-orangebkgd: var(--token-dvRKU9xNWE2S);
  --token-1PQV-HJS0_T0: 16px;
  --plasmic-token-unnamed-style-token-5: var(--token-1PQV-HJS0_T0);
  --token-C_lSLyf4SmUX: 16px;
  --plasmic-token-title-phone: var(--token-C_lSLyf4SmUX);
  --token-ydFxpT_711xB: 28px;
  --plasmic-token-unnamed-style-token-6: var(--token-ydFxpT_711xB);
  --token-6b9ouEWkpNnV: 16px;
  --plasmic-token-fun-phone-title: var(--token-6b9ouEWkpNnV);
}

@media (max-width: 414px) {
  .plasmic_tokens_uyaK17nhz8WhGjYZfKjMhX {
    --token-C_lSLyf4SmUX: var(--token-ydFxpT_711xB);
    --token-6b9ouEWkpNnV: 45px;
  }
}

@media (max-width: 2000px) {
  .plasmic_tokens_uyaK17nhz8WhGjYZfKjMhX {
    --token-Gx156sR9ht1r: var(--token-Xx7oe00aHq8H);
  }
}

.plasmic_tokens_override_uyaK17nhz8WhGjYZfKjMhX.plasmic_tokens_override_uyaK17nhz8WhGjYZfKjMhX {
  --token-RvPI6LyeIPmd: var(--token-Xx7oe00aHq8H);
  --token-WxvvgatuPYoJ: var(--antd-colorBgSpotlight);
}

@media (max-width: 2000px) {
  .plasmic_tokens_override_uyaK17nhz8WhGjYZfKjMhX.plasmic_tokens_override_uyaK17nhz8WhGjYZfKjMhX {
    --token-RvPI6LyeIPmd: #1c3757;
    --token-WxvvgatuPYoJ: #1c3757;
  }
}

.plasmic_tokens_uyaK17nhz8WhGjYZfKjMhX {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-mHdo1GQXh9JU_font-family: "Georgia";
  --mixin-mHdo1GQXh9JU_font-size: 21px;
  --mixin-mHdo1GQXh9JU_font-weight: 400;
  --mixin-mHdo1GQXh9JU_font-style: normal;
  --mixin-mHdo1GQXh9JU_text-align: left;
  --mixin-mHdo1GQXh9JU_text-transform: none;
  --mixin-mHdo1GQXh9JU_line-height: 100%;
  --mixin-mHdo1GQXh9JU_letter-spacing: normal;
  --mixin-mHdo1GQXh9JU_white-space: pre-wrap;
  --mixin-mHdo1GQXh9JU_user-select: text;
  --mixin-mHdo1GQXh9JU_text-decoration-line: none;
  --mixin-mHdo1GQXh9JU_text-overflow: clip;
  --mixin-mHdo1GQXh9JU_color: var(--token-Xx7oe00aHq8H);
  --mixin-c6Kr0ZMGIvKc_font-family: "Georgia";
  --mixin-c6Kr0ZMGIvKc_font-weight: 400;
  --mixin-c6Kr0ZMGIvKc_font-size: 102.6px;
  --mixin-c6Kr0ZMGIvKc_line-height: 1;
  --mixin-c6Kr0ZMGIvKc_white-space: pre-wrap;
  --mixin-LnfUki906bT6_font-size: 90px;
  --mixin-LnfUki906bT6_font-weight: 400;
  --mixin-LnfUki906bT6_letter-spacing: -0.5px;
  --mixin-LnfUki906bT6_line-height: 1;
  --mixin-LnfUki906bT6_font-family: "Georgia";
  --mixin-LnfUki906bT6_white-space: pre-wrap;
  --mixin-DERGnEHX4L_M_color: #0070f3;
  --mixin-DERGnEHX4L_M_white-space: pre-wrap;
  --mixin-9OfmAgKsetna_font-size: 63px;
  --mixin-9OfmAgKsetna_font-weight: 400;
  --mixin-9OfmAgKsetna_font-family: "Georgia";
  --mixin-9OfmAgKsetna_pointer-events: none;
  --mixin-9OfmAgKsetna_line-height: 1;
  --mixin-9OfmAgKsetna_white-space: pre-wrap;
  --mixin-qcmLAuQf3iea_font-size: 55px;
  --mixin-qcmLAuQf3iea_font-weight: 400;
  --mixin-qcmLAuQf3iea_font-family: "Georgia";
  --mixin-qcmLAuQf3iea_line-height: 1;
  --mixin-qcmLAuQf3iea_white-space: pre-wrap;
  --mixin-6L9rZt_rr7x4_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-6L9rZt_rr7x4_border-bottom-color: #dddddd;
  --mixin-6L9rZt_rr7x4_border-bottom-style: solid;
  --mixin-6L9rZt_rr7x4_border-bottom-width: 1px;
  --mixin-6L9rZt_rr7x4_border-left-color: #dddddd;
  --mixin-6L9rZt_rr7x4_border-left-style: solid;
  --mixin-6L9rZt_rr7x4_border-left-width: 1px;
  --mixin-6L9rZt_rr7x4_border-right-color: #dddddd;
  --mixin-6L9rZt_rr7x4_border-right-style: solid;
  --mixin-6L9rZt_rr7x4_border-right-width: 1px;
  --mixin-6L9rZt_rr7x4_border-top-color: #dddddd;
  --mixin-6L9rZt_rr7x4_border-top-style: solid;
  --mixin-6L9rZt_rr7x4_border-top-width: 1px;
  --mixin-6L9rZt_rr7x4_border-bottom-left-radius: 3px;
  --mixin-6L9rZt_rr7x4_border-bottom-right-radius: 3px;
  --mixin-6L9rZt_rr7x4_border-top-left-radius: 3px;
  --mixin-6L9rZt_rr7x4_border-top-right-radius: 3px;
  --mixin-6L9rZt_rr7x4_font-family: "Inconsolata";
  --mixin-6L9rZt_rr7x4_padding-bottom: 1px;
  --mixin-6L9rZt_rr7x4_padding-left: 4px;
  --mixin-6L9rZt_rr7x4_padding-right: 4px;
  --mixin-6L9rZt_rr7x4_padding-top: 1px;
  --mixin-6L9rZt_rr7x4_white-space: pre-wrap;
  --mixin-Z73wsV9R3QGv_border-left-color: #dddddd;
  --mixin-Z73wsV9R3QGv_border-left-style: solid;
  --mixin-Z73wsV9R3QGv_border-left-width: 3px;
  --mixin-Z73wsV9R3QGv_color: #888888;
  --mixin-Z73wsV9R3QGv_padding-left: 10px;
  --mixin-Z73wsV9R3QGv_white-space: pre-wrap;
  --mixin-raB9x8daIJqb_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-raB9x8daIJqb_border-bottom-color: #dddddd;
  --mixin-raB9x8daIJqb_border-bottom-style: solid;
  --mixin-raB9x8daIJqb_border-bottom-width: 1px;
  --mixin-raB9x8daIJqb_border-left-color: #dddddd;
  --mixin-raB9x8daIJqb_border-left-style: solid;
  --mixin-raB9x8daIJqb_border-left-width: 1px;
  --mixin-raB9x8daIJqb_border-right-color: #dddddd;
  --mixin-raB9x8daIJqb_border-right-style: solid;
  --mixin-raB9x8daIJqb_border-right-width: 1px;
  --mixin-raB9x8daIJqb_border-top-color: #dddddd;
  --mixin-raB9x8daIJqb_border-top-style: solid;
  --mixin-raB9x8daIJqb_border-top-width: 1px;
  --mixin-raB9x8daIJqb_border-bottom-left-radius: 3px;
  --mixin-raB9x8daIJqb_border-bottom-right-radius: 3px;
  --mixin-raB9x8daIJqb_border-top-left-radius: 3px;
  --mixin-raB9x8daIJqb_border-top-right-radius: 3px;
  --mixin-raB9x8daIJqb_font-family: "Inconsolata";
  --mixin-raB9x8daIJqb_padding-bottom: 3px;
  --mixin-raB9x8daIJqb_padding-left: 6px;
  --mixin-raB9x8daIJqb_padding-right: 6px;
  --mixin-raB9x8daIJqb_padding-top: 3px;
  --mixin-raB9x8daIJqb_white-space: pre-wrap;
  --mixin-SXsC7n2V7dO2_display: flex;
  --mixin-SXsC7n2V7dO2_flex-direction: column;
  --mixin-SXsC7n2V7dO2_align-items: stretch;
  --mixin-SXsC7n2V7dO2_justify-content: flex-start;
  --mixin-SXsC7n2V7dO2_list-style-position: outside;
  --mixin-SXsC7n2V7dO2_padding-left: 40px;
  --mixin-SXsC7n2V7dO2_position: relative;
  --mixin-SXsC7n2V7dO2_list-style-type: disc;
  --mixin-SXsC7n2V7dO2_white-space: pre-wrap;
  --mixin-mY8xgI1lBa_1_display: flex;
  --mixin-mY8xgI1lBa_1_flex-direction: column;
  --mixin-mY8xgI1lBa_1_align-items: stretch;
  --mixin-mY8xgI1lBa_1_justify-content: flex-start;
  --mixin-mY8xgI1lBa_1_list-style-position: outside;
  --mixin-mY8xgI1lBa_1_padding-left: 40px;
  --mixin-mY8xgI1lBa_1_position: relative;
  --mixin-mY8xgI1lBa_1_list-style-type: decimal;
  --mixin-mY8xgI1lBa_1_white-space: pre-wrap;
  --mixin-r2g_yl3_YYAn_font-size: 40px;
  --mixin-r2g_yl3_YYAn_font-weight: 400;
  --mixin-r2g_yl3_YYAn_line-height: 1;
  --mixin-r2g_yl3_YYAn_font-family: "Georgia";
  --mixin-r2g_yl3_YYAn_white-space: pre-wrap;
  --mixin-ap4rNoZS2Kpf_font-size: 28px;
  --mixin-ap4rNoZS2Kpf_font-weight: 400;
  --mixin-ap4rNoZS2Kpf_font-family: "Georgia";
  --mixin-ap4rNoZS2Kpf_line-height: 1;
  --mixin-ap4rNoZS2Kpf_white-space: pre-wrap;
  --mixin-jyPZDnP8R6Bw_color: #3291ff;
  --mixin-jyPZDnP8R6Bw_white-space: pre-wrap;
  --mixin--fugYukNuH2n_font-family: "Avenir LT Std";
  --mixin--fugYukNuH2n_font-size: var(--token-LM4KfHPZ4AUG);
  --mixin--fugYukNuH2n_color: var(--token-Xx7oe00aHq8H);
  --mixin--fugYukNuH2n_line-height: 36px;
  --mixin--fugYukNuH2n_padding-bottom: 10px;
  --mixin--fugYukNuH2n_padding-top: 10px;
  --mixin--fugYukNuH2n_white-space: pre-wrap;
  --mixin-dEAw_tV1WlNf_font-family: "Avenir LT Std";
  --mixin-dEAw_tV1WlNf_font-size: 24px;
  --mixin-dEAw_tV1WlNf_line-height: 36px;
  --mixin-dEAw_tV1WlNf_white-space: pre-wrap;
  --mixin-y_Wo7pXq6UXo_white-space: pre-wrap;
  --mixin-CojpwSnEuUcn_white-space: pre-wrap;
  --mixin-EpkGSRlNgqwf_white-space: pre-wrap;
  --mixin-nGosPoC_TQsC_white-space: pre-wrap;
  --mixin-YThS-axfSmEX_white-space: pre-wrap;
  --mixin-VJHRHtMZNGpL_color: var(--token-Xx7oe00aHq8H);
  --mixin-VJHRHtMZNGpL_white-space: pre-wrap;
}

@media (max-width: 1024px) {
  .plasmic_default_styles {
    --mixin-c6Kr0ZMGIvKc_font-size: 64px;
    --mixin-c6Kr0ZMGIvKc_white-space: pre-wrap;
    --mixin-LnfUki906bT6_font-size: 56px;
    --mixin-LnfUki906bT6_white-space: pre-wrap;
    --mixin-9OfmAgKsetna_font-size: 42px;
    --mixin-9OfmAgKsetna_white-space: pre-wrap;
    --mixin-qcmLAuQf3iea_font-size: 36px;
    --mixin-qcmLAuQf3iea_white-space: pre-wrap;
    --mixin-r2g_yl3_YYAn_font-size: 28px;
    --mixin-r2g_yl3_YYAn_white-space: pre-wrap;
    --mixin-ap4rNoZS2Kpf_font-size: 24px;
    --mixin-ap4rNoZS2Kpf_white-space: pre-wrap;
    --mixin--fugYukNuH2n_font-size: 18px;
    --mixin--fugYukNuH2n_line-height: 28px;
    --mixin--fugYukNuH2n_white-space: pre-wrap;
    --mixin-dEAw_tV1WlNf_font-size: 18px;
    --mixin-dEAw_tV1WlNf_line-height: 28px;
    --mixin-dEAw_tV1WlNf_white-space: pre-wrap;
  }
}

@media (max-width: 757px) {
  .plasmic_default_styles {
    --mixin-c6Kr0ZMGIvKc_font-size: 60px;
    --mixin-c6Kr0ZMGIvKc_line-height: 1;
    --mixin-c6Kr0ZMGIvKc_white-space: pre-wrap;
    --mixin-LnfUki906bT6_font-size: 50px;
    --mixin-LnfUki906bT6_white-space: pre-wrap;
    --mixin-9OfmAgKsetna_font-size: var(--token-GYC664WLsCwo);
    --mixin-9OfmAgKsetna_white-space: pre-wrap;
    --mixin-ap4rNoZS2Kpf_font-size: 20px;
    --mixin-ap4rNoZS2Kpf_line-height: 32px;
    --mixin-ap4rNoZS2Kpf_white-space: pre-wrap;
  }
}

@media (max-width: 414px) {
  .plasmic_default_styles {
    --mixin-c6Kr0ZMGIvKc_font-size: 45px;
    --mixin-c6Kr0ZMGIvKc_line-height: 1;
    --mixin-c6Kr0ZMGIvKc_white-space: pre-wrap;
    --mixin-LnfUki906bT6_font-family: "Georgia";
    --mixin-LnfUki906bT6_font-size: 40px;
    --mixin-LnfUki906bT6_white-space: pre-wrap;
    --mixin-9OfmAgKsetna_font-family: "Georgia";
    --mixin-9OfmAgKsetna_font-weight: 400;
    --mixin-9OfmAgKsetna_font-size: 30px;
    --mixin-9OfmAgKsetna_white-space: pre-wrap;
    --mixin-qcmLAuQf3iea_font-size: 28px;
    --mixin-qcmLAuQf3iea_white-space: pre-wrap;
    --mixin-r2g_yl3_YYAn_font-size: 24px;
    --mixin-r2g_yl3_YYAn_white-space: pre-wrap;
    --mixin-ap4rNoZS2Kpf_font-size: 18px;
    --mixin-ap4rNoZS2Kpf_line-height: 25px;
    --mixin-ap4rNoZS2Kpf_white-space: pre-wrap;
    --mixin--fugYukNuH2n_font-size: 16px;
    --mixin--fugYukNuH2n_line-height: 25px;
    --mixin--fugYukNuH2n_white-space: pre-wrap;
    --mixin-dEAw_tV1WlNf_font-size: 16px;
    --mixin-dEAw_tV1WlNf_line-height: 25px;
    --mixin-dEAw_tV1WlNf_white-space: pre-wrap;
  }
}

@media (max-width: 375px) {
  .plasmic_default_styles {
    --mixin-qcmLAuQf3iea_line-height: 1;
    --mixin-qcmLAuQf3iea_white-space: pre-wrap;
  }
}

@media (max-width: 1920px) {
  .plasmic_default_styles {
    --mixin-c6Kr0ZMGIvKc_font-size: var(--token-XJX5SmE-YNyu);
    --mixin-c6Kr0ZMGIvKc_line-height: 1;
    --mixin-c6Kr0ZMGIvKc_white-space: pre-wrap;
    --mixin-DERGnEHX4L_M_color: var(--token-VSsNRyw2VYkH);
    --mixin-DERGnEHX4L_M_white-space: pre-wrap;
    --mixin-jyPZDnP8R6Bw_color: var(--token-Gx156sR9ht1r);
    --mixin-jyPZDnP8R6Bw_white-space: pre-wrap;
    --mixin-EpkGSRlNgqwf_color: var(--token-455ns3DBW2hn);
    --mixin-EpkGSRlNgqwf_white-space: pre-wrap;
  }
}

@media (max-width: 1440px) {
  .plasmic_default_styles {
    --mixin-c6Kr0ZMGIvKc_font-size: 5rem;
    --mixin-c6Kr0ZMGIvKc_white-space: pre-wrap;
    --mixin-LnfUki906bT6_font-size: 72px;
    --mixin-LnfUki906bT6_white-space: pre-wrap;
    --mixin-9OfmAgKsetna_font-size: 54px;
    --mixin-9OfmAgKsetna_white-space: pre-wrap;
    --mixin-qcmLAuQf3iea_font-size: 46px;
    --mixin-qcmLAuQf3iea_white-space: pre-wrap;
    --mixin-r2g_yl3_YYAn_font-size: 34px;
    --mixin-r2g_yl3_YYAn_white-space: pre-wrap;
    --mixin--fugYukNuH2n_font-size: 20px;
    --mixin--fugYukNuH2n_line-height: 32px;
    --mixin--fugYukNuH2n_white-space: pre-wrap;
    --mixin-dEAw_tV1WlNf_font-size: 20px;
    --mixin-dEAw_tV1WlNf_line-height: 30px;
    --mixin-dEAw_tV1WlNf_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-NPiJf-LDIzvh_white-space: pre-wrap;
  --plasmic-mixin-hover_white-space: var(--mixin-NPiJf-LDIzvh_white-space);
  --mixin-PQiPAjg2h2gB_white-space: pre-wrap;
  --plasmic-mixin-paragraph_white-space: var(--mixin-PQiPAjg2h2gB_white-space);
  --mixin-YfVu7WzfsjQ0_white-space: pre-wrap;
  --plasmic-mixin-button-txt_white-space: var(--mixin-YfVu7WzfsjQ0_white-space);
  --mixin-sGMhZnyAHgNp_white-space: pre-wrap;
  --plasmic-mixin-h-4-script_white-space: var(--mixin-sGMhZnyAHgNp_white-space);
  --mixin-HsRXTflU73q9_white-space: pre-wrap;
  --plasmic-mixin-h-3-script_white-space: var(--mixin-HsRXTflU73q9_white-space);
  --mixin-ElzLbwlIopI7_white-space: pre-wrap;
  --plasmic-mixin-h-1-script_white-space: var(--mixin-ElzLbwlIopI7_white-space);
  --mixin-E_axcqohmb6N_white-space: pre-wrap;
  --plasmic-mixin-h-2_white-space: var(--mixin-E_axcqohmb6N_white-space);
  --mixin-OH5dmQziQlAD_white-space: pre-wrap;
  --plasmic-mixin-h-3_white-space: var(--mixin-OH5dmQziQlAD_white-space);
  --mixin-PKQS1sHJhmGz_white-space: pre-wrap;
  --plasmic-mixin-h-4_white-space: var(--mixin-PKQS1sHJhmGz_white-space);
  --mixin-O9uTTCxmrkZO_white-space: pre-wrap;
  --plasmic-mixin-h-1_white-space: var(--mixin-O9uTTCxmrkZO_white-space);
  --mixin-CGm2qdXhkiS__white-space: pre-wrap;
  --plasmic-mixin-bullet-point_white-space: var(
    --mixin-CGm2qdXhkiS__white-space
  );
  --mixin-gHsSVEdHtXRu_white-space: pre-wrap;
  --plasmic-mixin-input-field_white-space: var(
    --mixin-gHsSVEdHtXRu_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) {
  font-family: var(--mixin-mHdo1GQXh9JU_font-family);
  font-size: var(--mixin-mHdo1GQXh9JU_font-size);
  font-weight: var(--mixin-mHdo1GQXh9JU_font-weight);
  font-style: var(--mixin-mHdo1GQXh9JU_font-style);
  color: var(--mixin-mHdo1GQXh9JU_color);
  text-align: var(--mixin-mHdo1GQXh9JU_text-align);
  text-transform: var(--mixin-mHdo1GQXh9JU_text-transform);
  line-height: var(--mixin-mHdo1GQXh9JU_line-height);
  letter-spacing: var(--mixin-mHdo1GQXh9JU_letter-spacing);
  white-space: var(--mixin-mHdo1GQXh9JU_white-space);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) h1:where(.h1__uyaK1),
h1:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.h1__uyaK1),
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) h1,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) h1,
h1:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) {
  font-family: var(--mixin-c6Kr0ZMGIvKc_font-family);
  font-weight: var(--mixin-c6Kr0ZMGIvKc_font-weight);
  font-size: var(--mixin-c6Kr0ZMGIvKc_font-size);
  line-height: var(--mixin-c6Kr0ZMGIvKc_line-height);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) h2:where(.h2__uyaK1),
h2:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.h2__uyaK1),
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) h2,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) h2,
h2:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) {
  font-size: var(--mixin-LnfUki906bT6_font-size);
  font-weight: var(--mixin-LnfUki906bT6_font-weight);
  letter-spacing: var(--mixin-LnfUki906bT6_letter-spacing);
  line-height: var(--mixin-LnfUki906bT6_line-height);
  font-family: var(--mixin-LnfUki906bT6_font-family);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) a:where(.a__uyaK1),
a:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.a__uyaK1),
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) a,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) a,
a:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) {
  color: var(--mixin-DERGnEHX4L_M_color);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) h3:where(.h3__uyaK1),
h3:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.h3__uyaK1),
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) h3,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) h3,
h3:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) {
  font-size: var(--mixin-9OfmAgKsetna_font-size);
  font-weight: var(--mixin-9OfmAgKsetna_font-weight);
  font-family: var(--mixin-9OfmAgKsetna_font-family);
  pointer-events: var(--mixin-9OfmAgKsetna_pointer-events);
  line-height: var(--mixin-9OfmAgKsetna_line-height);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) h4:where(.h4__uyaK1),
h4:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.h4__uyaK1),
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) h4,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) h4,
h4:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) {
  font-size: var(--mixin-qcmLAuQf3iea_font-size);
  font-weight: var(--mixin-qcmLAuQf3iea_font-weight);
  font-family: var(--mixin-qcmLAuQf3iea_font-family);
  line-height: var(--mixin-qcmLAuQf3iea_line-height);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) code:where(.code__uyaK1),
code:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.code__uyaK1),
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) code,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) code,
code:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-6L9rZt_rr7x4_font-family);
  border-radius: var(--mixin-6L9rZt_rr7x4_border-top-left-radius)
    var(--mixin-6L9rZt_rr7x4_border-top-right-radius)
    var(--mixin-6L9rZt_rr7x4_border-bottom-right-radius)
    var(--mixin-6L9rZt_rr7x4_border-bottom-left-radius);
  padding: var(--mixin-6L9rZt_rr7x4_padding-top)
    var(--mixin-6L9rZt_rr7x4_padding-right)
    var(--mixin-6L9rZt_rr7x4_padding-bottom)
    var(--mixin-6L9rZt_rr7x4_padding-left);
  border-top: var(--mixin-6L9rZt_rr7x4_border-top-width)
    var(--mixin-6L9rZt_rr7x4_border-top-style)
    var(--mixin-6L9rZt_rr7x4_border-top-color);
  border-right: var(--mixin-6L9rZt_rr7x4_border-right-width)
    var(--mixin-6L9rZt_rr7x4_border-right-style)
    var(--mixin-6L9rZt_rr7x4_border-right-color);
  border-bottom: var(--mixin-6L9rZt_rr7x4_border-bottom-width)
    var(--mixin-6L9rZt_rr7x4_border-bottom-style)
    var(--mixin-6L9rZt_rr7x4_border-bottom-color);
  border-left: var(--mixin-6L9rZt_rr7x4_border-left-width)
    var(--mixin-6L9rZt_rr7x4_border-left-style)
    var(--mixin-6L9rZt_rr7x4_border-left-color);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) blockquote:where(.blockquote__uyaK1),
blockquote:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.blockquote__uyaK1),
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) blockquote,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) blockquote,
blockquote:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) {
  color: var(--mixin-Z73wsV9R3QGv_color);
  padding-left: var(--mixin-Z73wsV9R3QGv_padding-left);
  border-left: var(--mixin-Z73wsV9R3QGv_border-left-width)
    var(--mixin-Z73wsV9R3QGv_border-left-style)
    var(--mixin-Z73wsV9R3QGv_border-left-color);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) pre:where(.pre__uyaK1),
pre:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.pre__uyaK1),
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) pre,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) pre,
pre:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-raB9x8daIJqb_font-family);
  border-radius: var(--mixin-raB9x8daIJqb_border-top-left-radius)
    var(--mixin-raB9x8daIJqb_border-top-right-radius)
    var(--mixin-raB9x8daIJqb_border-bottom-right-radius)
    var(--mixin-raB9x8daIJqb_border-bottom-left-radius);
  padding: var(--mixin-raB9x8daIJqb_padding-top)
    var(--mixin-raB9x8daIJqb_padding-right)
    var(--mixin-raB9x8daIJqb_padding-bottom)
    var(--mixin-raB9x8daIJqb_padding-left);
  border-top: var(--mixin-raB9x8daIJqb_border-top-width)
    var(--mixin-raB9x8daIJqb_border-top-style)
    var(--mixin-raB9x8daIJqb_border-top-color);
  border-right: var(--mixin-raB9x8daIJqb_border-right-width)
    var(--mixin-raB9x8daIJqb_border-right-style)
    var(--mixin-raB9x8daIJqb_border-right-color);
  border-bottom: var(--mixin-raB9x8daIJqb_border-bottom-width)
    var(--mixin-raB9x8daIJqb_border-bottom-style)
    var(--mixin-raB9x8daIJqb_border-bottom-color);
  border-left: var(--mixin-raB9x8daIJqb_border-left-width)
    var(--mixin-raB9x8daIJqb_border-left-style)
    var(--mixin-raB9x8daIJqb_border-left-color);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) ul:where(.ul__uyaK1),
ul:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.ul__uyaK1),
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) ul,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) ul,
ul:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) {
  display: var(--mixin-SXsC7n2V7dO2_display);
  flex-direction: var(--mixin-SXsC7n2V7dO2_flex-direction);
  align-items: var(--mixin-SXsC7n2V7dO2_align-items);
  justify-content: var(--mixin-SXsC7n2V7dO2_justify-content);
  list-style-position: var(--mixin-SXsC7n2V7dO2_list-style-position);
  padding-left: var(--mixin-SXsC7n2V7dO2_padding-left);
  position: var(--mixin-SXsC7n2V7dO2_position);
  list-style-type: var(--mixin-SXsC7n2V7dO2_list-style-type);
  column-gap: var(--mixin-SXsC7n2V7dO2_column-gap);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) ol:where(.ol__uyaK1),
ol:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.ol__uyaK1),
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) ol,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) ol,
ol:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) {
  display: var(--mixin-mY8xgI1lBa_1_display);
  flex-direction: var(--mixin-mY8xgI1lBa_1_flex-direction);
  align-items: var(--mixin-mY8xgI1lBa_1_align-items);
  justify-content: var(--mixin-mY8xgI1lBa_1_justify-content);
  list-style-position: var(--mixin-mY8xgI1lBa_1_list-style-position);
  padding-left: var(--mixin-mY8xgI1lBa_1_padding-left);
  position: var(--mixin-mY8xgI1lBa_1_position);
  list-style-type: var(--mixin-mY8xgI1lBa_1_list-style-type);
  column-gap: var(--mixin-mY8xgI1lBa_1_column-gap);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) h5:where(.h5__uyaK1),
h5:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.h5__uyaK1),
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) h5,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) h5,
h5:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) {
  font-size: var(--mixin-r2g_yl3_YYAn_font-size);
  font-weight: var(--mixin-r2g_yl3_YYAn_font-weight);
  line-height: var(--mixin-r2g_yl3_YYAn_line-height);
  font-family: var(--mixin-r2g_yl3_YYAn_font-family);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) h6:where(.h6__uyaK1),
h6:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.h6__uyaK1),
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) h6,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) h6,
h6:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) {
  font-size: var(--mixin-ap4rNoZS2Kpf_font-size);
  font-weight: var(--mixin-ap4rNoZS2Kpf_font-weight);
  font-family: var(--mixin-ap4rNoZS2Kpf_font-family);
  line-height: var(--mixin-ap4rNoZS2Kpf_line-height);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) a:where(.a__uyaK1):hover,
a:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.a__uyaK1):hover,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) a:hover,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) a:hover,
a:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags):hover {
  color: var(--mixin-jyPZDnP8R6Bw_color);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) li:where(.li__uyaK1),
li:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.li__uyaK1),
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) li,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) li,
li:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) {
  font-family: var(--mixin--fugYukNuH2n_font-family);
  font-size: var(--mixin--fugYukNuH2n_font-size);
  color: var(--mixin--fugYukNuH2n_color);
  line-height: var(--mixin--fugYukNuH2n_line-height);
  padding-bottom: var(--mixin--fugYukNuH2n_padding-bottom);
  padding-top: var(--mixin--fugYukNuH2n_padding-top);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) p:where(.p__uyaK1),
p:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.p__uyaK1),
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) p,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) p,
p:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) {
  font-family: var(--mixin-dEAw_tV1WlNf_font-family);
  font-size: var(--mixin-dEAw_tV1WlNf_font-size);
  line-height: var(--mixin-dEAw_tV1WlNf_line-height);
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) a:where(.a__uyaK1):active,
a:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.a__uyaK1):active,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) a:active,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) a:active,
a:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags):active {
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) a:where(.a__uyaK1):focus,
a:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.a__uyaK1):focus,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) a:focus,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) a:focus,
a:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags):focus {
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) a:where(.a__uyaK1):visited,
a:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.a__uyaK1):visited,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) a:visited,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) a:visited,
a:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags):visited {
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) a:where(.a__uyaK1):link,
a:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.a__uyaK1):link,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) a:link,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) a:link,
a:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags):link {
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) li:where(.li__uyaK1):link,
li:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.li__uyaK1):link,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) li:link,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) li:link,
li:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags):link {
}

:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX) p:where(.p__uyaK1):link,
p:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX.p__uyaK1):link,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX .__wab_expr_html_text) p:link,
:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags) p:link,
p:where(.root_reset_uyaK17nhz8WhGjYZfKjMhX_tags):link {
  color: var(--mixin-VJHRHtMZNGpL_color);
}
