.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 720px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-sP5FKk2rRQuW);
  justify-self: flex-start;
  row-gap: 20px;
  min-width: 0;
  padding: 50px 20px 0px;
}
@media (max-width: 2000px) {
  .footer {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 1920px) {
  .footer {
    width: 100%;
    justify-self: flex-start;
    justify-content: center;
    height: auto;
    align-items: center;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 1440px) {
  .footer {
    width: 100%;
    justify-self: flex-start;
    padding-left: 0px;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .footer {
    height: auto;
    justify-content: space-between;
    width: auto;
    justify-self: flex-start;
    display: inline-flex;
    padding: 20px 0px 0px;
  }
}
@media (max-width: 757px) {
  .footer {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 530px) {
  .footer {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .footer {
    padding: 0px;
  }
}
.freeBox__pNiq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 2000px) {
  .freeBox__pNiq {
    display: flex;
    flex-direction: column;
    left: auto;
    top: auto;
    column-gap: 0px;
    padding: 50px 55px 0px 240px;
  }
}
@media (max-width: 1920px) {
  .freeBox__pNiq {
    height: auto;
    padding: 50px 55px 0px 300px;
    margin: 0px;
  }
}
@media (max-width: 1512px) {
  .freeBox__pNiq {
    padding-left: 100px;
    padding-right: 85px;
  }
}
@media (max-width: 1440px) {
  .freeBox__pNiq {
    align-self: auto;
  }
}
@media (max-width: 1280px) {
  .freeBox__pNiq {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 1200px) {
  .freeBox__pNiq {
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 0px;
    padding: 20px;
  }
}
@media (max-width: 1024px) {
  .freeBox__pNiq {
    align-self: auto;
  }
}
@media (max-width: 757px) {
  .freeBox__pNiq {
    top: auto;
    left: auto;
    align-self: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
.freeBox__wGTlk {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 150px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  min-width: 0;
  padding: 50px 50px 50px 240px;
}
@media (max-width: 2000px) {
  .freeBox__wGTlk {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }
}
@media (max-width: 1920px) {
  .freeBox__wGTlk {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 0px;
    justify-content: space-between;
    row-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 1440px) {
  .freeBox__wGTlk {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    column-gap: 0px;
    row-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 1280px) {
  .freeBox__wGTlk {
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .freeBox__wGTlk {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
    padding: 0px 10px;
  }
}
@media (max-width: 1024px) {
  .freeBox__wGTlk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    row-gap: 10px;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 757px) {
  .freeBox__wGTlk {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    row-gap: 20px;
    column-gap: 0px;
  }
}
@media (max-width: 530px) {
  .freeBox__wGTlk {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
@media (max-width: 414px) {
  .freeBox__wGTlk {
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
  }
}
.freeBox__cBvFy {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 30px;
  padding: 8px;
}
@media (max-width: 1920px) {
  .freeBox__cBvFy {
    width: 445px;
    flex-shrink: 0;
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .freeBox__cBvFy {
    width: auto;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-self: center;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .freeBox__cBvFy {
    width: auto;
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-right: 10px;
    padding-left: 10px;
    column-gap: 0px;
  }
}
@media (max-width: 757px) {
  .freeBox__cBvFy {
    align-self: auto;
    padding: 20px;
  }
}
@media (max-width: 414px) {
  .freeBox__cBvFy {
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    min-width: 0;
    padding: 20px;
  }
}
.logo {
  background: url("/plasmic/sterling_and_buena_vista_foods/images/logo2.png") center center / cover no-repeat;
  width: 381px;
  height: 103px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .logo {
    align-self: center;
  }
}
@media (max-width: 757px) {
  .logo {
    background: url("/plasmic/sterling_and_buena_vista_foods/images/logo2.png") center center / contain no-repeat;
    width: 250px;
  }
}
@media (max-width: 414px) {
  .logo {
    width: 250px;
    height: 100px;
    display: block;
    flex-shrink: 0;
  }
}
.text {
  display: block;
  font-size: 18px;
  font-family: "Avenir LT Std";
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(11, 40, 74, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 462px;
}
@media (max-width: 2000px) {
  .text {
    width: auto;
  }
}
@media (max-width: 1920px) {
  .text {
    width: auto;
  }
}
@media (max-width: 1512px) {
  .text {
    width: auto;
  }
}
@media (max-width: 1440px) {
  .text {
    text-align: left;
    align-self: flex-start;
    width: auto;
  }
}
@media (max-width: 1280px) {
  .text {
    width: auto;
  }
}
@media (max-width: 1200px) {
  .text {
    font-size: 16px;
    left: auto;
    top: auto;
  }
}
@media (max-width: 1024px) {
  .text {
    text-align: center;
    align-self: center;
    width: 100%;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
@media (max-width: 757px) {
  .text {
    text-align: center;
  }
}
@media (max-width: 530px) {
  .text {
    text-align: center;
  }
}
@media (max-width: 430px) {
  .text {
    text-align: center;
  }
}
@media (max-width: 414px) {
  .text {
    text-align: center;
    width: auto;
  }
}
.socialBtns:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (max-width: 1440px) {
  .socialBtns:global(.__wab_instance) {
    align-self: flex-start;
  }
}
@media (max-width: 1200px) {
  .socialBtns:global(.__wab_instance) {
    left: auto;
    top: auto;
    align-self: center;
  }
}
@media (max-width: 1024px) {
  .socialBtns:global(.__wab_instance) {
    align-self: center;
    left: auto;
    top: auto;
  }
}
.freeBox__g31S3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  right: auto;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1920px) {
  .freeBox__g31S3 {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0px;
    align-items: flex-start;
    left: auto;
    top: auto;
    right: auto;
    row-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 1440px) {
  .freeBox__g31S3 {
    top: auto;
    left: auto;
    right: auto;
    width: auto;
  }
}
@media (max-width: 1200px) {
  .freeBox__g31S3 {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    left: auto;
    top: auto;
    right: auto;
    flex-wrap: nowrap;
    align-content: stretch;
    width: 100%;
    column-gap: 20%;
    row-gap: 0px;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .freeBox__g31S3 {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    row-gap: 0px;
    min-width: 0;
  }
}
@media (max-width: 757px) {
  .freeBox__g31S3 {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: stretch;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 0px 20px;
  }
}
@media (max-width: 530px) {
  .freeBox__g31S3 {
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-content: center;
    row-gap: 20px;
    column-gap: 20px;
    padding: 0px;
  }
}
@media (max-width: 430px) {
  .freeBox__g31S3 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox__g31S3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 0px;
  }
}
.locations2 {
  width: 524px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  row-gap: 0px;
  right: auto;
  bottom: auto;
  flex-shrink: 0;
  padding: 10px;
}
@media (max-width: 1920px) {
  .locations2 {
    left: auto;
    top: auto;
    width: auto;
    position: relative;
    bottom: auto;
    right: auto;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 1440px) {
  .locations2 {
    width: auto;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .locations2 {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    height: auto;
    column-gap: 0px;
    margin: 0px;
  }
}
@media (max-width: 1024px) {
  .locations2 {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 757px) {
  .locations2 {
    align-self: flex-start;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    align-items: center;
    justify-content: center;
    width: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    row-gap: 0px;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 530px) {
  .locations2 {
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
@media (max-width: 430px) {
  .locations2 {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
@media (max-width: 414px) {
  .locations2 {
    width: auto;
    left: auto;
    top: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    height: auto;
    bottom: auto;
    right: auto;
    column-gap: 0px;
  }
}
.text__eeOut {
  display: block;
  font-size: 50px;
  font-family: var(--token-3FFZ7xNHqr9C);
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(193, 117, 30, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 285px;
  height: 50px;
  align-self: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  flex-shrink: 0;
  margin: 10px;
}
@media (max-width: 1920px) {
  .text__eeOut {
    left: auto;
    top: auto;
    padding: 0px;
    margin: 0px;
  }
}
@media (max-width: 1440px) {
  .text__eeOut {
    padding: 0px;
    margin: 0px;
  }
}
@media (max-width: 1200px) {
  .text__eeOut {
    text-align: center;
    left: auto;
    top: auto;
    align-self: center;
    width: auto;
  }
}
@media (max-width: 1024px) {
  .text__eeOut {
    width: auto;
  }
}
@media (max-width: 757px) {
  .text__eeOut {
    text-align: center;
    left: auto;
    top: auto;
  }
}
@media (max-width: 530px) {
  .text__eeOut {
    text-align: left;
    align-self: center;
    width: auto;
    height: auto;
  }
}
@media (max-width: 414px) {
  .text__eeOut {
    left: auto;
    top: auto;
  }
}
.menuList:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 1200px) {
  .menuList:global(.__wab_instance) {
    height: auto;
    width: auto;
    align-self: auto;
  }
}
@media (max-width: 757px) {
  .menuList:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    align-self: flex-start;
    z-index: 1;
    right: auto;
    bottom: auto;
    margin: auto;
  }
}
@media (max-width: 530px) {
  .menuList:global(.__wab_instance) {
    align-self: center;
  }
}
@media (max-width: 414px) {
  .menuList:global(.__wab_instance) {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.locations {
  width: 524px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  row-gap: 0px;
  right: auto;
  bottom: auto;
  flex-shrink: 0;
  padding: 10px;
}
@media (max-width: 1920px) {
  .locations {
    left: auto;
    top: auto;
    width: auto;
    position: relative;
    bottom: auto;
    right: auto;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 1440px) {
  .locations {
    width: auto;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .locations {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    width: auto;
  }
}
@media (max-width: 1024px) {
  .locations {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    align-self: center;
    align-items: flex-end;
    justify-content: flex-start;
  }
}
@media (max-width: 757px) {
  .locations {
    align-self: auto;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    height: auto;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 530px) {
  .locations {
    width: auto;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
@media (max-width: 430px) {
  .locations {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
@media (max-width: 414px) {
  .locations {
    width: 100%;
    left: auto;
    top: auto;
    position: relative;
    bottom: auto;
    right: auto;
    min-width: 0;
  }
}
.text__brMmd {
  display: block;
  font-size: 50px;
  font-family: var(--token-3FFZ7xNHqr9C);
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(193, 117, 30, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 285px;
  height: 50px;
  align-self: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  flex-shrink: 0;
  margin: 10px;
}
@media (max-width: 1920px) {
  .text__brMmd {
    left: auto;
    top: auto;
    padding: 0px;
    margin: 0px;
  }
}
@media (max-width: 1440px) {
  .text__brMmd {
    padding: 0px;
    margin: 0px;
  }
}
@media (max-width: 1200px) {
  .text__brMmd {
    padding-left: 20px;
  }
}
@media (max-width: 757px) {
  .text__brMmd {
    text-align: left;
    left: auto;
    top: auto;
  }
}
@media (max-width: 530px) {
  .text__brMmd {
    text-align: center;
    align-self: flex-start;
    padding-left: 0px;
    width: auto;
    height: auto;
  }
}
.address {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1512px) {
  .address {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    column-gap: 0px;
    padding: 0px;
  }
}
.freeBox__sgOsE {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1512px) {
  .freeBox__sgOsE {
    padding: 0px;
  }
}
.svg___20G5D {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-I4qaFqA_B1z8);
  height: 1em;
}
.text__uDprX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-I4qaFqA_B1z8);
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 1512px) {
  .text__uDprX {
    font-weight: 400;
  }
}
.text__qkd0N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 40px;
  font-size: 17px;
  font-family: "Avenir LT Std";
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 1920px) {
  .text__qkd0N {
    line-height: 27px;
  }
}
@media (max-width: 530px) {
  .text__qkd0N {
    text-align: left;
  }
}
@media (max-width: 430px) {
  .text__qkd0N {
    padding-left: 0px;
  }
}
@media (max-width: 414px) {
  .text__qkd0N {
    align-self: flex-start;
    width: auto;
  }
}
.address2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1512px) {
  .address2 {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    column-gap: 0px;
  }
}
.freeBox__kjgJi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1512px) {
  .freeBox__kjgJi {
    padding: 0px;
  }
}
.svg___1LNbj {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-I4qaFqA_B1z8);
  height: 1em;
}
.text__jOnC3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-I4qaFqA_B1z8);
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 1512px) {
  .text__jOnC3 {
    font-weight: 400;
  }
}
.text__qNiIg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 40px;
  font-size: 17px;
  font-family: "Avenir LT Std";
  min-width: 0;
}
@media (max-width: 1920px) {
  .text__qNiIg {
    line-height: 27px;
  }
}
@media (max-width: 430px) {
  .text__qNiIg {
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .text__qNiIg {
    width: auto;
    align-self: flex-start;
  }
}
.address3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1512px) {
  .address3 {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    column-gap: 0px;
  }
}
.freeBox__gquwb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1512px) {
  .freeBox__gquwb {
    padding: 0px;
  }
}
.svg__x5Ov2 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-I4qaFqA_B1z8);
  height: 1em;
}
.text__k2Rb6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-I4qaFqA_B1z8);
  font-weight: 400;
  min-width: 0;
}
@media (max-width: 1512px) {
  .text__k2Rb6 {
    font-weight: 400;
  }
}
.text__pAi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 40px;
  font-size: 17px;
  font-family: "Avenir LT Std";
  min-width: 0;
}
@media (max-width: 1920px) {
  .text__pAi {
    line-height: 27px;
  }
}
@media (max-width: 430px) {
  .text__pAi {
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .text__pAi {
    width: auto;
    align-self: flex-start;
  }
}
.freeBox___9KFeZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  top: auto;
  left: auto;
  align-self: flex-start;
  padding: 0px 300px;
}
@media (max-width: 2000px) {
  .freeBox___9KFeZ {
    padding-left: 0px;
    padding-right: 0px;
    left: auto;
    top: auto;
  }
}
@media (max-width: 1920px) {
  .freeBox___9KFeZ {
    left: auto;
    top: auto;
    padding: 0px;
  }
}
@media (max-width: 1440px) {
  .freeBox___9KFeZ {
    padding-left: 50px;
    left: auto;
    top: auto;
  }
}
@media (max-width: 1200px) {
  .freeBox___9KFeZ {
    left: auto;
    top: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .freeBox___9KFeZ {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 20px;
    width: 100%;
    left: auto;
    top: auto;
    column-gap: 0px;
    min-width: 0;
  }
}
@media (max-width: 757px) {
  .freeBox___9KFeZ {
    left: auto;
    top: auto;
    align-self: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
  }
}
.footerMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 650px;
  height: auto;
  max-width: 100%;
  column-gap: 0px;
  padding: 5px;
}
@media (max-width: 1024px) {
  .footerMenu {
    align-self: center;
  }
}
@media (max-width: 757px) {
  .footerMenu {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    position: relative;
    left: auto;
    top: auto;
    row-gap: 0px;
    column-gap: 0px;
    display: none;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .footerMenu {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 0px;
    column-gap: 0px;
    display: none;
  }
}
.footerLinks__mnfMc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.dividerLine___2Km7Z:global(.__wab_instance) {
  width: 20px;
  height: 30px;
  transition-property: all;
  transition-duration: 1s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (max-width: 757px) {
  .dividerLine___2Km7Z:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .dividerLine___2Km7Z:global(.__wab_instance) {
    align-self: auto;
    flex-shrink: 0;
  }
}
.dividerLine__hkj9I:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 757px) {
  .dividerLine__hkj9I:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .dividerLine__hkj9I:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.dividerLine___0Jplz:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 757px) {
  .dividerLine___0Jplz:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .dividerLine___0Jplz:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.termsAndConditions {
  color: var(--token-Gx156sR9ht1r);
  font-family: "Avenir LT Std";
  font-size: var(--token-6b9ouEWkpNnV);
}
.dividerLine__cx0Jy:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (max-width: 757px) {
  .dividerLine__cx0Jy:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .dividerLine__cx0Jy:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.text__nL8Zp {
  display: block;
  font-size: 16px;
  font-family: "Avenir LT Std";
  letter-spacing: 0em;
  line-height: 30px;
  color: rgba(11, 40, 74, 1);
  position: relative;
  top: auto;
  left: auto;
  height: auto;
  bottom: auto;
  padding-left: 20px;
}
@media (max-width: 2000px) {
  .text__nL8Zp {
    padding-left: 0px;
  }
}
@media (max-width: 1200px) {
  .text__nL8Zp {
    left: auto;
    top: auto;
    bottom: auto;
  }
}
@media (max-width: 1024px) {
  .text__nL8Zp {
    left: auto;
    top: auto;
    bottom: auto;
    align-self: center;
    padding: 0px;
  }
}
@media (max-width: 757px) {
  .text__nL8Zp {
    left: auto;
    top: auto;
    text-align: left;
    font-size: 14px;
    position: relative;
    bottom: auto;
  }
}
@media (max-width: 414px) {
  .text__nL8Zp {
    text-align: left;
    font-size: 14px;
  }
}
.freeBox__cSkrB {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 0px 30px;
}
@media (max-width: 2000px) {
  .freeBox__cSkrB {
    display: flex;
  }
}
.link {
  display: flex;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-I4qaFqA_B1z8);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: auto;
  top: auto;
  z-index: 1;
  bottom: 220px;
  right: 55px;
  border-radius: 4px;
  padding: 8px;
}
@media (max-width: 1920px) {
  .link {
    bottom: 120px;
  }
}
@media (max-width: 430px) {
  .link {
    right: 25px;
    bottom: 70px;
  }
}
@media (max-width: 375px) {
  .link {
    bottom: 50px;
  }
}
.svg___9MhDf {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-sP5FKk2rRQuW);
  height: 1em;
  flex-shrink: 0;
}
.freeBox__pcGC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 8px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-VSsNRyw2VYkH);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 2000px) {
  .freeBox__pcGC {
    align-items: center;
    justify-content: flex-end;
  }
}
