.socialBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 168px;
  height: auto;
  max-width: 100%;
  position: relative;
  background: none;
  column-gap: 15px;
  padding: 0px;
}
.link {
  display: flex;
}
.linkedinIcon:global(.__wab_instance) {
  max-width: 100%;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}
.facebookIcon:global(.__wab_instance) {
  max-width: 100%;
  width: 42px;
  height: 42px;
  align-self: center;
  flex-shrink: 0;
  display: none;
}
.instaIcon:global(.__wab_instance) {
  max-width: 100%;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  display: none;
}
