.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
}
.hero {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 400px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: url("/plasmic/sterling_and_buena_vista_foods/images/marketHeroAvif.avif") top 50% left 50% / cover repeat;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 1512px) {
  .hero {
    animation: none;
  }
}
.h2 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-sP5FKk2rRQuW);
  font-family: "Georgia";
  font-size: 90px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 1512px) {
  .h2 {
    animation: none;
  }
}
.body {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 50px 3% 0px;
}
@media (max-width: 2000px) {
  .body {
    animation: none;
  }
}
@media (max-width: 414px) {
  .body {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding-right: 30px;
    padding-left: 30px;
    column-gap: 0px;
  }
}
.intro {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 2000px) {
  .intro {
    animation: none;
    padding: 0px;
  }
}
@media (max-width: 1280px) {
  .intro {
    padding: 0px;
  }
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  flex-wrap: wrap;
  align-content: center;
  align-self: center;
  text-align: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 530px) {
  .freeBox {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-content: center;
    justify-content: center;
    column-gap: 0px;
  }
}
@media (max-width: 430px) {
  .freeBox {
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    column-gap: 0px;
  }
}
.h3__cpuet {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  pointer-events: none;
}
@media (max-width: 2000px) {
  .h3__cpuet {
    animation: none;
  }
}
@media (max-width: 414px) {
  .h3__cpuet {
    text-align: center;
  }
}
.h4__fmzSc {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  text-align: center;
  font-family: "Georgia";
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
  align-self: center;
}
@media (max-width: 2000px) {
  .h4__fmzSc {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .h4__fmzSc {
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
.p__ptTp3 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
@media (max-width: 2000px) {
  .p__ptTp3 {
    animation: none;
    width: 75%;
  }
}
@media (max-width: 1280px) {
  .p__ptTp3 {
    width: 100%;
  }
}
@media (max-width: 757px) {
  .p__ptTp3 {
    padding: 60px 40px;
  }
}
@media (max-width: 530px) {
  .p__ptTp3 {
    padding: 40px;
  }
}
@media (max-width: 430px) {
  .p__ptTp3 {
    padding: 40px 20px;
  }
}
@media (max-width: 414px) {
  .p__ptTp3 {
    padding: 40px 10px;
  }
}
.foodSafety {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: visible;
  column-gap: 36px;
  min-width: 0;
  padding: 130px 130px 100px;
}
@media (max-width: 2000px) {
  .foodSafety {
    animation: none;
  }
}
@media (max-width: 1440px) {
  .foodSafety {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 1200px) {
  .foodSafety {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 1024px) {
  .foodSafety {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    column-gap: 0px;
  }
}
@media (max-width: 430px) {
  .foodSafety {
    padding-bottom: 62px;
  }
}
@media (max-width: 414px) {
  .foodSafety {
    padding: 0px;
  }
}
.img__msSnL {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 550px;
  position: absolute;
  left: 2%;
  top: auto;
  z-index: 0;
  right: auto;
  bottom: 2%;
}
.img__msSnL > picture > img {
  object-fit: cover;
}
@media (max-width: 1024px) {
  .img__msSnL {
    left: 19px;
    top: 264px;
  }
}
@media (max-width: 414px) {
  .img__msSnL {
    height: 50%;
  }
}
.img___6NoRb {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 574px;
  height: auto;
  flex-shrink: 0;
}
.img___6NoRb > picture > img {
  object-fit: cover;
}
@media (max-width: 2000px) {
  .img___6NoRb {
    animation: none;
  }
}
@media (max-width: 414px) {
  .img___6NoRb {
    margin-right: 0px;
  }
}
.text {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  background: none;
  border-radius: 39px;
  padding: 0px 55px;
}
@media (max-width: 2000px) {
  .text {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .text {
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .text {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 757px) {
  .text {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.title {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 2000px) {
  .title {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .title {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: center;
    column-gap: 0px;
  }
}
.h3__nLzWp {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  pointer-events: none;
}
@media (max-width: 2000px) {
  .h3__nLzWp {
    animation: none;
  }
}
.h4__m8Qr {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
}
@media (max-width: 2000px) {
  .h4__m8Qr {
    animation: none;
  }
}
.paragraph {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 2000px) {
  .paragraph {
    animation: none;
  }
}
.p___4LkW {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
@media (max-width: 2000px) {
  .p___4LkW {
    animation: none;
  }
}
.schoolFoodservice {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: visible;
  column-gap: 36px;
  min-width: 0;
  padding: 130px 130px 100px;
}
@media (max-width: 2000px) {
  .schoolFoodservice {
    animation: none;
  }
}
@media (max-width: 1440px) {
  .schoolFoodservice {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 1200px) {
  .schoolFoodservice {
    padding: 80px 30px;
  }
}
@media (max-width: 1024px) {
  .schoolFoodservice {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    padding-top: 0px;
    column-gap: 0px;
  }
}
@media (max-width: 414px) {
  .schoolFoodservice {
    padding: 0px;
  }
}
.text2 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  background: none;
  border-radius: 39px;
  padding: 0px 30px;
}
@media (max-width: 2000px) {
  .text2 {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .text2 {
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .text2 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 757px) {
  .text2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.title2 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 2000px) {
  .title2 {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .title2 {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: center;
    column-gap: 0px;
  }
}
.h3__gw5Oz {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  pointer-events: none;
}
@media (max-width: 2000px) {
  .h3__gw5Oz {
    animation: none;
  }
}
.h4__msdny {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
}
@media (max-width: 2000px) {
  .h4__msdny {
    animation: none;
  }
}
.paragraph2 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 50px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 2000px) {
  .paragraph2 {
    animation: none;
  }
}
.p___6ZfH {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
@media (max-width: 2000px) {
  .p___6ZfH {
    animation: none;
  }
}
.primaryBtn:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.img__opTma {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 697px;
  height: auto;
  flex-shrink: 0;
}
.img__opTma > picture > img {
  object-fit: cover;
}
@media (max-width: 2000px) {
  .img__opTma {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .img__opTma {
    width: 603px;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .img__opTma {
    margin-right: 0px;
  }
}
.convenienceStores {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: visible;
  column-gap: 36px;
  min-width: 0;
  padding: 130px 130px 100px;
}
@media (max-width: 2000px) {
  .convenienceStores {
    animation: none;
  }
}
@media (max-width: 1440px) {
  .convenienceStores {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 1200px) {
  .convenienceStores {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 1024px) {
  .convenienceStores {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    column-gap: 0px;
  }
}
@media (max-width: 430px) {
  .convenienceStores {
    padding-bottom: 62px;
  }
}
@media (max-width: 414px) {
  .convenienceStores {
    padding: 0px;
  }
}
.img__kcvXq {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 698px;
  height: auto;
  flex-shrink: 0;
}
.img__kcvXq > picture > img {
  object-fit: cover;
}
@media (max-width: 2000px) {
  .img__kcvXq {
    animation: none;
  }
}
@media (max-width: 414px) {
  .img__kcvXq {
    margin-right: 0px;
  }
}
.text3 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  background: none;
  border-radius: 39px;
  padding: 0px 55px;
}
@media (max-width: 2000px) {
  .text3 {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .text3 {
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .text3 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 757px) {
  .text3 {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.title3 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 2000px) {
  .title3 {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .title3 {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: center;
    column-gap: 0px;
  }
}
.h3__jy3TC {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  pointer-events: none;
}
@media (max-width: 2000px) {
  .h3__jy3TC {
    animation: none;
  }
}
.h4___3F273 {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
}
@media (max-width: 2000px) {
  .h4___3F273 {
    animation: none;
  }
}
.paragraph3 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 2000px) {
  .paragraph3 {
    animation: none;
  }
}
.p__jreLi {
  animation: none;
  position: relative;
  width: 808px;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
}
@media (max-width: 2000px) {
  .p__jreLi {
    animation: none;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .footer:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
