.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.hero2 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 400px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: url("/plasmic/sterling_and_buena_vista_foods/images/marketHeroAvif.avif") top 50% left 50% / cover repeat;
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 1512px) {
  .hero2 {
    animation: none;
  }
}
.h2 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-sP5FKk2rRQuW);
  font-family: "Georgia";
  font-size: 90px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 1512px) {
  .h2 {
    animation: none;
  }
}
