.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-4Cdw41zGDm2p);
  font-family: var(--token-MZlo_dcXZCyh);
  font-size: var(--token-TQ01AK4kGGLa);
  line-height: var(--token-xqu7e6j0VvPH);
  width: 100%;
  column-gap: var(--token-QOC-1xrvgWwP);
  min-width: 0;
}
.ariaRadio[data-disabled][data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox__epa5F {
  display: flex;
  position: relative;
  width: var(--token-WQno2EAu9h8e);
  height: var(--token-WQno2EAu9h8e);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-RN6-6smk2YHi);
}
.ariaRadio[data-selected] .freeBox__epa5F {
  background: #2563eb;
  border-color: #2563eb;
}
.ariaRadio[data-focus-visible] .freeBox__epa5F {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: #2563eb;
  outline-width: 2px;
}
.freeBox__sDeAd {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox__sDeAd {
  width: var(--token-N6OOSLbGhLr_);
  height: var(--token-N6OOSLbGhLr_);
  flex-shrink: 0;
  display: block;
}
