.cta {
  animation: none;
  background: rgba(28, 55, 87, 1);
  height: 397px;
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 2000px) {
  .cta {
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1512px) {
  .cta {
    height: auto;
  }
}
@media (max-width: 1440px) {
  .cta {
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-width: 0;
  }
}
@media (max-width: 1280px) {
  .cta {
    display: flex;
    flex-direction: column;
    height: auto;
    column-gap: 0px;
  }
}
@media (max-width: 1024px) {
  .cta {
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .cta {
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 375px) {
  .cta {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.ctamarketsPage_base2 {
  height: 650px;
}
.freeBox {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  top: auto;
  left: auto;
  row-gap: 20px;
  min-width: 0;
  padding: 0px 0px 2px;
  margin: 0px;
}
@media (max-width: 2000px) {
  .freeBox {
    padding-bottom: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 0px;
  }
}
@media (max-width: 1512px) {
  .freeBox {
    padding: 30px;
  }
}
@media (max-width: 1024px) {
  .freeBox {
    width: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
@media (max-width: 757px) {
  .freeBox {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 530px) {
  .freeBox {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    min-height: 0;
  }
}
@media (max-width: 430px) {
  .freeBox {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox {
    padding: 20px 0px;
  }
}
@media (max-width: 375px) {
  .freeBox {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }
}
.frame52 {
  animation: none;
  width: auto;
  height: 85px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  column-gap: 10px;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  text-align: center;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .frame52 {
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 0px;
  }
}
@media (max-width: 757px) {
  .frame52 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 530px) {
  .frame52 {
    display: flex;
    flex-direction: row;
    row-gap: 0px;
  }
}
@media (max-width: 430px) {
  .frame52 {
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .frame52 {
    padding: 0px;
  }
}
.text__n2Use {
  animation: none;
  display: block;
  letter-spacing: 0em;
  line-height: 100%;
  position: relative;
  color: var(--token-2G4aHgk_mSgB);
  height: auto;
  font-family: "Georgia";
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 1280px) {
  .text__n2Use {
    width: auto;
  }
}
@media (max-width: 1200px) {
  .text__n2Use {
    text-align: center;
    font-family: "Georgia";
    font-size: var(--token-KlrAoGIT1za7);
    align-self: center;
  }
}
@media (max-width: 1024px) {
  .text__n2Use {
    font-size: var(--token-B10hUni6jzpI);
    font-family: "Georgia";
  }
}
@media (max-width: 757px) {
  .text__n2Use {
    font-family: "Georgia";
    font-size: var(--token-hCgNygAysIbb);
  }
}
@media (max-width: 530px) {
  .text__n2Use {
    font-size: var(--token-hCgNygAysIbb);
    font-family: "Georgia";
  }
}
@media (max-width: 430px) {
  .text__n2Use {
    align-self: auto;
    font-size: var(--token-LM4KfHPZ4AUG);
    padding-bottom: 5px;
  }
}
@media (max-width: 414px) {
  .text__n2Use {
    font-size: var(--token-LM4KfHPZ4AUG);
    height: auto;
  }
}
.span {
  animation: none;
  color: var(--token-VSsNRyw2VYkH);
  height: auto;
  font-family: var(--token-3FFZ7xNHqr9C);
  font-size: 85px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  line-height: 100%;
  letter-spacing: 0em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 1200px) {
  .span {
    font-size: 65px;
  }
}
@media (max-width: 1024px) {
  .span {
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 530px) {
  .span {
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 430px) {
  .span {
    font-size: var(--token-B10hUni6jzpI);
    line-height: 1em;
  }
}
@media (max-width: 414px) {
  .span {
    font-size: var(--token-16_cC9w3e0Nk);
  }
}
.text___9CO6F {
  animation: none;
  display: block;
  font-size: 43px;
  font-family: "Avenir LT Std";
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  left: auto;
  top: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  padding: 0px 30px;
}
@media (max-width: 2000px) {
  .text___9CO6F {
    padding-bottom: 0px;
    left: auto;
    top: auto;
  }
}
@media (max-width: 1200px) {
  .text___9CO6F {
    left: auto;
    top: auto;
    text-align: center;
    font-size: var(--token-UXPBeNJ4rrVx);
  }
}
@media (max-width: 1024px) {
  .text___9CO6F {
    align-self: center;
    left: auto;
    top: auto;
    font-size: 30px;
    padding: 0px;
  }
}
@media (max-width: 757px) {
  .text___9CO6F {
    left: auto;
    top: auto;
    font-size: 28px;
  }
}
@media (max-width: 530px) {
  .text___9CO6F {
    font-size: 28px;
    left: auto;
    top: auto;
  }
}
@media (max-width: 430px) {
  .text___9CO6F {
    font-size: var(--token-LM4KfHPZ4AUG);
    left: auto;
    top: auto;
  }
}
@media (max-width: 414px) {
  .text___9CO6F {
    font-size: var(--token-LM4KfHPZ4AUG);
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.textmarketsPage_base2___9CO6Feh6Eg {
  text-align: center;
  font-size: 35px;
  line-height: 50px;
}
.text___2EPm {
  animation: none;
  font-size: 43px;
  font-family: "Avenir LT Std";
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: relative;
  left: auto;
  top: auto;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  display: none;
  padding: 0px 30px;
}
@media (max-width: 2000px) {
  .text___2EPm {
    padding-bottom: 0px;
    left: auto;
    top: auto;
  }
}
@media (max-width: 1920px) {
  .text___2EPm {
    animation: none;
    position: relative;
    left: auto;
    top: auto;
    display: none;
    padding: 0px;
  }
}
@media (max-width: 1512px) {
  .text___2EPm {
    text-align: center;
    left: auto;
    top: auto;
  }
}
@media (max-width: 1440px) {
  .text___2EPm {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    left: auto;
    top: auto;
    display: none;
  }
}
@media (max-width: 1280px) {
  .text___2EPm {
    text-align: center;
    left: auto;
    top: auto;
  }
}
@media (max-width: 1200px) {
  .text___2EPm {
    left: auto;
    top: auto;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .text___2EPm {
    align-self: center;
    left: auto;
    top: auto;
    font-size: 35px;
    padding: 0px;
  }
}
@media (max-width: 757px) {
  .text___2EPm {
    left: auto;
    top: auto;
  }
}
@media (max-width: 530px) {
  .text___2EPm {
    font-size: 35px;
    left: auto;
    top: auto;
  }
}
@media (max-width: 430px) {
  .text___2EPm {
    font-size: 35px;
    left: auto;
    top: auto;
    display: none;
  }
}
@media (max-width: 414px) {
  .text___2EPm {
    font-size: var(--token-C_lSLyf4SmUX);
    left: auto;
    top: auto;
    padding: 0px;
  }
}
.textmarketsPage_base2___2EPmEh6Eg {
  left: auto;
  top: auto;
  color: var(--token-VSsNRyw2VYkH);
  font-weight: 700;
  font-size: 35px;
  display: block;
}
.buttonContainer {
  animation: none;
  width: 452px;
  height: 69px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  align-self: center;
  flex-shrink: 0;
  margin: 20px;
}
@media (max-width: 2000px) {
  .buttonContainer {
    left: auto;
    top: auto;
  }
}
@media (max-width: 1200px) {
  .buttonContainer {
    left: auto;
    top: auto;
  }
}
@media (max-width: 1024px) {
  .buttonContainer {
    left: auto;
    top: auto;
  }
}
@media (max-width: 530px) {
  .buttonContainer {
    left: auto;
    top: auto;
  }
}
@media (max-width: 430px) {
  .buttonContainer {
    left: auto;
    top: auto;
  }
}
@media (max-width: 414px) {
  .buttonContainer {
    width: 100%;
    min-width: 0;
  }
}
.link {
  display: flex;
}
.primaryBtn:global(.__wab_instance) {
  max-width: 100%;
  width: 353px;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .primaryBtn:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
