.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-cHbJj-eAxewt);
  min-width: 0;
}
.ariaTextField[data-disabled][data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox___5SLcT {
  display: flex;
  flex-direction: column;
}
.freeBox__hzUpc {
  flex-direction: row;
  position: absolute;
  height: var(--token-GWrcQQRzM3SG);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-N6OOSLbGhLr_) var(--token-xSplwyl9ncm5);
}
.freeBoxiconStart__hzUpctV6T9 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-MGudh00NLP3q);
}
.svg__mYpCt {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__d2DLe {
  height: var(--token-GWrcQQRzM3SG);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-N6OOSLbGhLr_) var(--token-xSplwyl9ncm5);
}
.freeBoxiconEnd__d2DLe0T75P {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-MGudh00NLP3q);
}
.svg___5VTK {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
