.secondaryBtn {
  background: rgba(255, 255, 255, 1);
  box-shadow: none;
  display: block;
  overflow: hidden;
  height: 71px;
  width: 321px;
  position: relative;
  border-radius: 34px;
}
@media (max-width: 1200px) {
  .secondaryBtn {
    padding: 0px;
  }
}
.secondaryBtn:hover:hover {
  box-shadow: none;
  background: var(--token-Gx156sR9ht1r);
  cursor: pointer;
}
.secondaryBtn:active:active {
  background: var(--token-455ns3DBW2hn);
  box-shadow: inset 0px 4px 16px 0px #00000033;
  color: var(--token-2G4aHgk_mSgB);
}
.freeBox {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
}
.slotTargetChildren {
  font-family: "Avenir";
  font-size: 22px;
  font-weight: 900;
  color: rgba(195, 118, 30, 1);
  text-align: center;
  line-height: 100%;
  letter-spacing: 0em;
}
.secondaryBtn:hover .slotTargetChildren {
  color: var(--token-2G4aHgk_mSgB);
}
.secondaryBtn:active .slotTargetChildren {
  color: var(--token-2G4aHgk_mSgB);
}
