.quickLinks {
  position: relative;
  display: flex;
  flex-direction: row;
  color: var(--token-Gx156sR9ht1r);
}
.slotTargetQuickLinks2isActive {
  color: var(--token-HxnmpURJ0E1r);
}
.quickLinks:hover .slotTargetQuickLinks2 {
  color: var(--token-Q67gH6ouJM2i);
}
.text__m0Gb {
  animation: none;
  position: relative;
}
