.reviews {
  animation: none;
  background: url("/plasmic/sterling_and_buena_vista_foods/images/reviews.png") center center / cover no-repeat;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  padding-bottom: 100px;
  position: relative;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 2000px) {
  .reviews {
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 1920px) {
  .reviews {
    animation: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    height: 764px;
    column-gap: 0px;
    min-width: 0;
  }
}
@media (max-width: 1512px) {
  .reviews {
    height: 760px;
  }
}
@media (max-width: 1440px) {
  .reviews {
    height: auto;
    width: 100%;
    padding-bottom: 70px;
    min-width: 0;
  }
}
@media (max-width: 1280px) {
  .reviews {
    height: auto;
  }
}
@media (max-width: 1024px) {
  .reviews {
    height: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 0px;
  }
}
@media (max-width: 757px) {
  .reviews {
    padding-bottom: 100px;
    height: auto;
  }
}
@media (max-width: 414px) {
  .reviews {
    height: auto;
    padding-bottom: 50px;
    width: 100%;
    min-width: 0;
  }
}
.frame36 {
  animation: none;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  min-width: 0;
  padding: 190px 150px 0px;
}
@media (max-width: 2000px) {
  .frame36 {
    padding-left: 220px;
    padding-right: 220px;
    padding-bottom: 50px;
  }
}
@media (max-width: 1920px) {
  .frame36 {
    animation: none;
    justify-content: center;
    align-items: center;
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    min-width: 0;
    padding: 190px 200px 50px;
  }
}
@media (max-width: 1440px) {
  .frame36 {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 0;
    padding: 100px 100px 20px;
  }
}
@media (max-width: 1280px) {
  .frame36 {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (max-width: 1200px) {
  .frame36 {
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    width: auto;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .frame36 {
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: center;
    left: auto;
    top: auto;
    column-gap: 30px;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    row-gap: 30px;
    padding: 20px 30px;
  }
}
@media (max-width: 757px) {
  .frame36 {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 45px;
    padding-top: 20px;
    align-content: center;
  }
}
@media (max-width: 530px) {
  .frame36 {
    justify-content: center;
    margin-bottom: 0px;
    flex-wrap: wrap;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px;
  }
}
@media (max-width: 430px) {
  .frame36 {
    margin-bottom: 25px;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 10px;
  }
}
@media (max-width: 414px) {
  .frame36 {
    margin-bottom: 0px;
    justify-content: center;
    align-content: center;
  }
}
@media (max-width: 375px) {
  .frame36 {
    margin-bottom: 0px;
  }
}
.frame34 {
  animation: none;
  width: 1454px;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  column-gap: 10px;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 13px;
  padding-right: 13px;
  flex-shrink: 0;
}
@media (max-width: 2000px) {
  .frame34 {
    width: auto;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 1920px) {
  .frame34 {
    animation: none;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    padding: 0px;
  }
}
@media (max-width: 1440px) {
  .frame34 {
    width: auto;
  }
}
@media (max-width: 1200px) {
  .frame34 {
    width: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 1024px) {
  .frame34 {
    width: auto;
  }
}
@media (max-width: 757px) {
  .frame34 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 530px) {
  .frame34 {
    height: auto;
  }
}
@media (max-width: 430px) {
  .frame34 {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (max-width: 414px) {
  .frame34 {
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    height: auto;
  }
}
@media (max-width: 375px) {
  .frame34 {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-content: center;
    row-gap: 0px;
  }
}
.text__p34Xt {
  animation: none;
  display: block;
  position: relative;
  font-size: var(--token-lvb_uNtWfpc4);
  font-family: var(--token-MZlo_dcXZCyh);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-VSsNRyw2VYkH);
}
@media (max-width: 1920px) {
  .text__p34Xt {
    animation: none;
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 1024px) {
  .text__p34Xt {
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 757px) {
  .text__p34Xt {
    font-size: var(--token-UXPBeNJ4rrVx);
  }
}
@media (max-width: 430px) {
  .text__p34Xt {
    font-family: "Georgia";
  }
}
@media (max-width: 414px) {
  .text__p34Xt {
    font-size: var(--token-C_lSLyf4SmUX);
  }
}
.span {
  animation: none;
  font-size: var(--token-zhrnaxKHsmJK);
  font-family: var(--token-3FFZ7xNHqr9C);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Gx156sR9ht1r);
}
@media (max-width: 1920px) {
  .span {
    animation: none;
    font-size: var(--token-zhrnaxKHsmJK);
  }
}
@media (max-width: 1024px) {
  .span {
    font-size: var(--token-2PDYAFnsh1xM);
  }
}
@media (max-width: 757px) {
  .span {
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 414px) {
  .span {
    font-size: var(--token-6b9ouEWkpNnV);
  }
}
.frame35 {
  animation: none;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  column-gap: 15px;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  padding: 10px;
}
@media (max-width: 2000px) {
  .frame35 {
    justify-content: flex-end;
    align-items: center;
  }
}
@media (max-width: 1920px) {
  .frame35 {
    animation: none;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (max-width: 1440px) {
  .frame35 {
    width: auto;
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .frame35 {
    width: auto;
  }
}
@media (max-width: 1024px) {
  .frame35 {
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
    min-height: 0;
  }
}
@media (max-width: 757px) {
  .frame35 {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 530px) {
  .frame35 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 0px;
    min-width: 0;
  }
}
@media (max-width: 430px) {
  .frame35 {
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    height: auto;
    row-gap: 0px;
  }
}
@media (max-width: 414px) {
  .frame35 {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    align-self: center;
    row-gap: 0px;
    padding: 0px 0px 1px;
  }
}
.frame43 {
  animation: none;
  width: 58px;
  height: 58px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50px;
}
@media (max-width: 2000px) {
  .frame43 {
    height: auto;
    width: auto;
    padding: 8px;
    border: 4px solid var(--token-Q67gH6ouJM2i);
  }
}
@media (max-width: 1920px) {
  .frame43 {
    animation: none;
  }
}
@media (max-width: 375px) {
  .frame43 {
    width: auto;
    height: auto;
  }
}
.svg__exajh {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 58px;
  height: 58px;
  color: var(--token-Xx7oe00aHq8H);
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 30px;
  border: 4px solid var(--token-Xx7oe00aHq8H);
}
@media (max-width: 2000px) {
  .svg__exajh {
    color: var(--token-Q67gH6ouJM2i);
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-style: none;
    border-color: var(--token-Q67gH6ouJM2i);
  }
}
@media (max-width: 1920px) {
  .svg__exajh {
    animation: none;
  }
}
@media (max-width: 530px) {
  .svg__exajh {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .svg__exajh {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-width: 4px;
  }
}
.frame44 {
  animation: none;
  width: 60px;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 0px;
}
@media (max-width: 2000px) {
  .frame44 {
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 8px;
    border: 4px solid var(--token-Q67gH6ouJM2i);
  }
}
@media (max-width: 1920px) {
  .frame44 {
    animation: none;
    width: auto;
    padding: 8px;
  }
}
@media (max-width: 414px) {
  .frame44 {
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 0px;
  }
}
.svg__m1L0V {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 58px;
  height: 58px;
  color: var(--token-Xx7oe00aHq8H);
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 30px;
  border: 4px solid var(--token-Xx7oe00aHq8H);
}
@media (max-width: 2000px) {
  .svg__m1L0V {
    color: var(--token-Q67gH6ouJM2i);
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-style: none;
    border-color: var(--token-Q67gH6ouJM2i);
  }
}
@media (max-width: 1920px) {
  .svg__m1L0V {
    animation: none;
  }
}
@media (max-width: 530px) {
  .svg__m1L0V {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .svg__m1L0V {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-width: 4px;
  }
}
.sliderCarousel:global(.__wab_instance) {
  animation: none;
  width: 100%;
  object-fit: cover;
  display: block;
  height: 100%;
  text-align: center;
  align-self: center;
  overflow: hidden;
  padding-right: 30px;
  padding-left: 30px;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 2000px) {
  .sliderCarousel:global(.__wab_instance) {
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-width: 0;
    min-height: 0;
  }
}
@media (max-width: 1440px) {
  .sliderCarousel:global(.__wab_instance) {
    height: auto;
  }
}
@media (max-width: 757px) {
  .sliderCarousel:global(.__wab_instance) {
    height: auto;
  }
}
@media (max-width: 414px) {
  .sliderCarousel:global(.__wab_instance) {
    height: auto;
    display: block;
    margin-top: 20px;
  }
}
.box {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: var(--token-sP5FKk2rRQuW);
  flex-wrap: nowrap;
  align-content: stretch;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 22px;
  padding: 30px;
  border: 1.5px solid var(--token-VSsNRyw2VYkH);
}
@media (max-width: 1920px) {
  .box {
    display: none;
  }
}
@media (max-width: 757px) {
  .box {
    background: none;
    border-radius: 0px;
    padding: 10px;
    margin: 0px;
    border-width: 0px;
    border-style: none;
  }
}
@media (max-width: 530px) {
  .box {
    padding: 10px;
  }
}
@media (max-width: 430px) {
  .box {
    padding: 10px;
  }
}
@media (max-width: 414px) {
  .box {
    background: none;
    padding: 10px;
    border-width: 0px;
    border-style: none;
  }
}
@media (max-width: 375px) {
  .box {
    padding: 10px;
  }
}
.child {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 757px) {
  .child {
    background: var(--token-sP5FKk2rRQuW);
    border-radius: 22px;
    padding: 30px;
    border: 1.5px solid var(--token-VSsNRyw2VYkH);
  }
}
@media (max-width: 414px) {
  .child {
    background: var(--token-sP5FKk2rRQuW);
    border-radius: 22px;
    padding: 20px;
    border: 1px solid var(--token-VSsNRyw2VYkH);
  }
}
.freeBox__edwK {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.svg__bgUEb {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-L6pBmIkiSkx4);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__fE3R9 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-L6pBmIkiSkx4);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__vfJ6R {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-L6pBmIkiSkx4);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__tcra {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-L6pBmIkiSkx4);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__xUikf {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-L6pBmIkiSkx4);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox___6Dma {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__vTQpQ {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 18px;
  align-self: auto;
  left: auto;
  top: auto;
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
@media (max-width: 2000px) {
  .text__vTQpQ {
    font-size: 20px;
  }
}
.freeBox__xpHmo {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__iLj9G {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-weight: 700;
  align-self: center;
  text-align: left;
  font-size: 21px;
  font-style: normal;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
.img__mrTsD {
  animation: none;
  object-fit: contain;
  max-width: 100%;
}
.img__mrTsD > picture > img {
  object-fit: contain;
}
.box2 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: var(--token-sP5FKk2rRQuW);
  flex-wrap: nowrap;
  align-content: stretch;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 22px;
  padding: 30px;
  border: 1.5px solid var(--token-VSsNRyw2VYkH);
}
@media (max-width: 2000px) {
  .box2 {
    display: flex;
  }
}
@media (max-width: 1920px) {
  .box2 {
    display: none;
  }
}
@media (max-width: 757px) {
  .box2 {
    background: none;
    border-radius: 0px;
    padding: 10px;
    margin: 0px;
    border-width: 0px;
    border-style: none;
  }
}
@media (max-width: 530px) {
  .box2 {
    padding: 10px;
  }
}
@media (max-width: 430px) {
  .box2 {
    padding: 10px;
  }
}
@media (max-width: 414px) {
  .box2 {
    background: none;
    padding: 10px;
    border-width: 0px;
    border-style: none;
  }
}
@media (max-width: 375px) {
  .box2 {
    padding: 10px;
  }
}
.child2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 757px) {
  .child2 {
    background: var(--token-sP5FKk2rRQuW);
    border-radius: 22px;
    padding: 30px;
    border: 1.5px solid var(--token-VSsNRyw2VYkH);
  }
}
@media (max-width: 414px) {
  .child2 {
    background: var(--token-sP5FKk2rRQuW);
    border-radius: 22px;
    padding: 20px;
    border: 1px solid var(--token-VSsNRyw2VYkH);
  }
}
.freeBox__vqvIa {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.svg__fd2Uj {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-L6pBmIkiSkx4);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__vfgLx {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-L6pBmIkiSkx4);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__ws7Tz {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-L6pBmIkiSkx4);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__jb78 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-L6pBmIkiSkx4);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__jvEuM {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-L6pBmIkiSkx4);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox__xAj5Q {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__qa1Eg {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 18px;
  align-self: auto;
  left: auto;
  top: auto;
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
@media (max-width: 2000px) {
  .text__qa1Eg {
    font-size: 20px;
  }
}
.freeBox__hjgHr {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__z6Qrg {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-weight: 700;
  align-self: center;
  text-align: left;
  font-size: 21px;
  font-style: normal;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
.img__qWby8 {
  animation: none;
  object-fit: contain;
  max-width: 100%;
}
.img__qWby8 > picture > img {
  object-fit: contain;
}
.box3 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: var(--token-sP5FKk2rRQuW);
  flex-wrap: nowrap;
  align-content: stretch;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 22px;
  padding: 30px;
  border: 1.5px solid var(--token-VSsNRyw2VYkH);
}
@media (max-width: 2000px) {
  .box3 {
    display: flex;
  }
}
@media (max-width: 1920px) {
  .box3 {
    display: none;
  }
}
@media (max-width: 757px) {
  .box3 {
    background: none;
    border-radius: 0px;
    padding: 10px;
    margin: 0px;
    border-width: 0px;
    border-style: none;
  }
}
@media (max-width: 530px) {
  .box3 {
    padding: 10px;
  }
}
@media (max-width: 430px) {
  .box3 {
    padding: 10px;
  }
}
@media (max-width: 414px) {
  .box3 {
    background: none;
    padding: 10px;
    border-width: 0px;
    border-style: none;
  }
}
@media (max-width: 375px) {
  .box3 {
    padding: 10px;
  }
}
.child3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 757px) {
  .child3 {
    background: var(--token-sP5FKk2rRQuW);
    border-radius: 22px;
    padding: 30px;
    border: 1.5px solid var(--token-VSsNRyw2VYkH);
  }
}
@media (max-width: 414px) {
  .child3 {
    background: var(--token-sP5FKk2rRQuW);
    border-radius: 22px;
    padding: 20px;
    border: 1px solid var(--token-VSsNRyw2VYkH);
  }
}
.freeBox___3Neob {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.svg__rk33S {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-L6pBmIkiSkx4);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg___53YjH {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-L6pBmIkiSkx4);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg___6SL4K {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-L6pBmIkiSkx4);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__yJTxF {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-L6pBmIkiSkx4);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.svg__kmFmW {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-L6pBmIkiSkx4);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox__bvrJd {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__nsIs {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 18px;
  align-self: auto;
  left: auto;
  top: auto;
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
@media (max-width: 2000px) {
  .text__nsIs {
    font-size: 20px;
  }
}
.freeBox__oJxEg {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__igD5 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-weight: 700;
  align-self: center;
  text-align: left;
  font-size: 21px;
  font-style: normal;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
.img__uafB9 {
  animation: none;
  object-fit: contain;
  max-width: 100%;
}
.img__uafB9 > picture > img {
  object-fit: contain;
}
