.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1920px) {
  .root > * {
    grid-column: 4;
  }
}
.header:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (max-width: 1920px) {
  .header:global(.__wab_instance) {
    max-width: 1920px;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.topHero:global(.__wab_instance) {
  max-width: 1920px;
}
.marketsBody {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1920px;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 110px 0% 0px 15px;
}
@media (max-width: 1920px) {
  .marketsBody {
    animation: none;
  }
}
@media (max-width: 1700px) {
  .marketsBody {
    animation: none;
  }
}
@media (max-width: 1512px) {
  .marketsBody {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .marketsBody {
    animation: none;
  }
}
@media (max-width: 1200px) {
  .marketsBody {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .marketsBody {
    animation: none;
  }
}
@media (max-width: 530px) {
  .marketsBody {
    animation: none;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 430px) {
  .marketsBody {
    animation: none;
  }
}
@media (max-width: 414px) {
  .marketsBody {
    animation: none;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding-right: 20px;
    padding-left: 20px;
    column-gap: 0px;
  }
}
.intro {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1920px) {
  .intro {
    animation: none;
  }
}
@media (max-width: 1700px) {
  .intro {
    animation: none;
    padding: 20px;
  }
}
@media (max-width: 1280px) {
  .intro {
    animation: none;
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .intro {
    animation: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
  }
}
@media (max-width: 757px) {
  .intro {
    animation: none;
  }
}
@media (max-width: 414px) {
  .intro {
    animation: none;
  }
}
.freeBox__uiYda {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  flex-wrap: wrap;
  align-content: center;
  align-self: center;
  text-align: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1920px) {
  .freeBox__uiYda {
    animation: none;
  }
}
@media (max-width: 1700px) {
  .freeBox__uiYda {
    animation: none;
  }
}
@media (max-width: 1512px) {
  .freeBox__uiYda {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .freeBox__uiYda {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .freeBox__uiYda {
    animation: none;
  }
}
@media (max-width: 530px) {
  .freeBox__uiYda {
    animation: none;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-content: center;
    justify-content: center;
    column-gap: 0px;
  }
}
@media (max-width: 430px) {
  .freeBox__uiYda {
    animation: none;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox__uiYda {
    animation: none;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    column-gap: 0px;
  }
}
.h4___9M2I7 {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  text-align: center;
  font-family: "Georgia";
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
  align-self: center;
}
@media (max-width: 1920px) {
  .h4___9M2I7 {
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 1280px) {
  .h4___9M2I7 {
    animation: none;
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 1024px) {
  .h4___9M2I7 {
    animation: none;
  }
}
@media (max-width: 530px) {
  .h4___9M2I7 {
    animation: none;
  }
}
@media (max-width: 430px) {
  .h4___9M2I7 {
    animation: none;
  }
}
@media (max-width: 414px) {
  .h4___9M2I7 {
    animation: none;
  }
}
@media (max-width: 375px) {
  .h4___9M2I7 {
    animation: none;
  }
}
.h3__f2X1I {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  pointer-events: none;
}
@media (max-width: 530px) {
  .h3__f2X1I {
    animation: none;
    text-align: center;
    font-size: 70px;
  }
}
@media (max-width: 414px) {
  .h3__f2X1I {
    animation: none;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .h3__f2X1I {
    animation: none;
  }
}
.p__oxWyG {
  animation: none;
  position: relative;
  width: 75%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
}
@media (max-width: 1920px) {
  .p__oxWyG {
    animation: none;
    width: 65.5%;
    padding-top: 0px;
  }
}
@media (max-width: 1700px) {
  .p__oxWyG {
    animation: none;
    width: 80%;
  }
}
@media (max-width: 1512px) {
  .p__oxWyG {
    animation: none;
  }
}
@media (max-width: 1440px) {
  .p__oxWyG {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .p__oxWyG {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .p__oxWyG {
    animation: none;
  }
}
@media (max-width: 757px) {
  .p__oxWyG {
    animation: none;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 530px) {
  .p__oxWyG {
    animation: none;
    width: 100%;
    min-width: 0;
    padding: 40px 0px;
  }
}
@media (max-width: 430px) {
  .p__oxWyG {
    animation: none;
    width: 100%;
    min-width: 0;
    padding: 40px 0px;
  }
}
@media (max-width: 414px) {
  .p__oxWyG {
    animation: none;
    width: 100%;
    min-width: 0;
    padding: 40px 10px;
  }
}
.p__mDTj {
  animation: none;
  position: relative;
  width: 75%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
}
@media (max-width: 1920px) {
  .p__mDTj {
    animation: none;
    width: 66.5%;
  }
}
@media (max-width: 1700px) {
  .p__mDTj {
    animation: none;
    width: 80%;
  }
}
@media (max-width: 1512px) {
  .p__mDTj {
    animation: none;
  }
}
@media (max-width: 1440px) {
  .p__mDTj {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .p__mDTj {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .p__mDTj {
    animation: none;
  }
}
@media (max-width: 757px) {
  .p__mDTj {
    animation: none;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 530px) {
  .p__mDTj {
    animation: none;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 430px) {
  .p__mDTj {
    animation: none;
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .p__mDTj {
    animation: none;
    width: 100%;
    margin-bottom: 0px;
    min-width: 0;
    padding: 0px 10px;
  }
}
.foodSafety {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: visible;
  column-gap: 36px;
  min-width: 0;
  padding: 130px 130px 100px;
}
@media (max-width: 1920px) {
  .foodSafety {
    animation: none;
  }
}
@media (max-width: 1512px) {
  .foodSafety {
    animation: none;
    width: auto;
    padding: 50px;
  }
}
@media (max-width: 1440px) {
  .foodSafety {
    animation: none;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    row-gap: 0px;
  }
}
@media (max-width: 1280px) {
  .foodSafety {
    animation: none;
  }
}
@media (max-width: 1200px) {
  .foodSafety {
    animation: none;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 36px;
    row-gap: 0px;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .foodSafety {
    animation: none;
    display: flex;
    flex-direction: row;
    column-gap: 36px;
    row-gap: 0px;
  }
}
@media (max-width: 757px) {
  .foodSafety {
    animation: none;
    flex-wrap: wrap;
    align-items: stretch;
    padding-right: 0px;
    padding-left: 0px;
    row-gap: 36px;
  }
}
@media (max-width: 530px) {
  .foodSafety {
    animation: none;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 430px) {
  .foodSafety {
    animation: none;
    padding-bottom: 62px;
  }
}
@media (max-width: 414px) {
  .foodSafety {
    animation: none;
    padding: 0px;
  }
}
@media (max-width: 375px) {
  .foodSafety {
    animation: none;
  }
}
.img__d6X {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 550px;
  z-index: 0;
  right: auto;
  bottom: 32.77%;
  left: 4.93%;
  top: auto;
  position: absolute;
}
.img__d6X > picture > img {
  object-fit: cover;
}
@media (max-width: 1920px) {
  .img__d6X {
    animation: none;
  }
}
@media (max-width: 1700px) {
  .img__d6X {
    animation: none;
  }
}
@media (max-width: 1512px) {
  .img__d6X {
    animation: none;
  }
}
@media (max-width: 1440px) {
  .img__d6X {
    animation: none;
    left: 27px;
    top: -59px;
  }
}
@media (max-width: 1200px) {
  .img__d6X {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .img__d6X {
    animation: none;
    left: 19px;
    top: 264px;
  }
}
@media (max-width: 530px) {
  .img__d6X {
    animation: none;
  }
}
@media (max-width: 430px) {
  .img__d6X {
    animation: none;
  }
}
@media (max-width: 414px) {
  .img__d6X {
    animation: none;
    height: 50%;
  }
}
.reveal___99BU:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img___6Rpo {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: auto;
}
.img___6Rpo > picture > img {
  object-fit: cover;
}
@media (max-width: 1512px) {
  .img___6Rpo {
    animation: none;
    width: 472px;
    object-fit: contain;
    margin-right: 0px;
  }
}
@media (max-width: 1512px) {
  .img___6Rpo > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 1440px) {
  .img___6Rpo {
    animation: none;
    width: 35%;
  }
}
@media (max-width: 1200px) {
  .img___6Rpo {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .img___6Rpo {
    animation: none;
  }
}
@media (max-width: 757px) {
  .img___6Rpo {
    animation: none;
    width: 70%;
  }
}
@media (max-width: 530px) {
  .img___6Rpo {
    animation: none;
    width: auto;
  }
}
@media (max-width: 430px) {
  .img___6Rpo {
    animation: none;
    width: auto;
  }
}
@media (max-width: 414px) {
  .img___6Rpo {
    animation: none;
    margin-right: 0px;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .img___6Rpo {
    animation: none;
  }
}
.text {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  background: none;
  border-radius: 39px;
  padding: 0px 55px;
}
@media (max-width: 1920px) {
  .text {
    animation: none;
  }
}
@media (max-width: 1512px) {
  .text {
    animation: none;
    width: auto;
  }
}
@media (max-width: 1440px) {
  .text {
    animation: none;
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 1280px) {
  .text {
    animation: none;
    max-width: 60%;
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .text {
    animation: none;
    height: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    justify-content: flex-end;
    max-width: 100%;
    min-height: 0;
  }
}
@media (max-width: 1024px) {
  .text {
    animation: none;
  }
}
@media (max-width: 757px) {
  .text {
    animation: none;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 414px) {
  .text {
    animation: none;
  }
}
.title {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1920px) {
  .title {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .title {
    animation: none;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: center;
    column-gap: 0px;
  }
}
@media (max-width: 1200px) {
  .title {
    animation: none;
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .title {
    animation: none;
  }
}
@media (max-width: 414px) {
  .title {
    animation: none;
  }
}
.h3__wLVxU {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  pointer-events: none;
}
@media (max-width: 1280px) {
  .h3__wLVxU {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .h3__wLVxU {
    animation: none;
  }
}
@media (max-width: 757px) {
  .h3__wLVxU {
    animation: none;
  }
}
.h4__rDvhd {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
}
@media (max-width: 1280px) {
  .h4__rDvhd {
    animation: none;
  }
}
@media (max-width: 414px) {
  .h4__rDvhd {
    animation: none;
  }
}
.paragraph {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1920px) {
  .paragraph {
    animation: none;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  .paragraph {
    animation: none;
  }
}
@media (max-width: 414px) {
  .paragraph {
    animation: none;
  }
}
.p__hVr1Q {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
@media (max-width: 1920px) {
  .p__hVr1Q {
    animation: none;
    width: 739px;
  }
}
@media (max-width: 1200px) {
  .p__hVr1Q {
    animation: none;
    text-align: left;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .p__hVr1Q {
    animation: none;
  }
}
@media (max-width: 757px) {
  .p__hVr1Q {
    animation: none;
  }
}
@media (max-width: 530px) {
  .p__hVr1Q {
    animation: none;
  }
}
@media (max-width: 430px) {
  .p__hVr1Q {
    animation: none;
  }
}
@media (max-width: 414px) {
  .p__hVr1Q {
    animation: none;
  }
}
.text__wsjha {
  line-height: 1.5em;
  text-align: left;
  font-family: "Avenir LT Std";
  align-self: flex-start;
  font-size: 24px;
}
.p__lRzqU {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
@media (max-width: 1920px) {
  .p__lRzqU {
    animation: none;
    width: 739px;
  }
}
@media (max-width: 1200px) {
  .p__lRzqU {
    animation: none;
    text-align: left;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .p__lRzqU {
    animation: none;
  }
}
@media (max-width: 757px) {
  .p__lRzqU {
    animation: none;
  }
}
@media (max-width: 530px) {
  .p__lRzqU {
    animation: none;
  }
}
@media (max-width: 430px) {
  .p__lRzqU {
    animation: none;
  }
}
@media (max-width: 414px) {
  .p__lRzqU {
    animation: none;
  }
}
.marketsOpenings {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 1522px;
  max-width: 1920px;
  justify-content: center;
  align-items: center;
  background: url("/plasmic/sterling_and_buena_vista_foods/images/backgroundPng2.png") top 50% left 50% / cover no-repeat;
  overflow: visible;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 20px;
}
@media (max-width: 1280px) {
  .marketsOpenings {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.openings {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1335px;
  height: 1330px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-sP5FKk2rRQuW);
  flex-shrink: 0;
  border-radius: 27px;
  padding: 85px 25px 85px 20px;
}
@media (max-width: 1280px) {
  .openings {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1200px) {
  .openings {
    width: auto;
  }
}
.freeBox___6Zuo0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___4Mucr {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 20px;
  flex-wrap: wrap;
  align-content: center;
  align-self: center;
  text-align: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1920px) {
  .freeBox___4Mucr {
    animation: none;
  }
}
@media (max-width: 1700px) {
  .freeBox___4Mucr {
    animation: none;
  }
}
@media (max-width: 1512px) {
  .freeBox___4Mucr {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .freeBox___4Mucr {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .freeBox___4Mucr {
    animation: none;
  }
}
@media (max-width: 530px) {
  .freeBox___4Mucr {
    animation: none;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-content: center;
    justify-content: center;
    column-gap: 0px;
  }
}
@media (max-width: 430px) {
  .freeBox___4Mucr {
    animation: none;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox___4Mucr {
    animation: none;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    column-gap: 0px;
  }
}
.h4__nImG {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  text-align: center;
  font-family: "Georgia";
  font-size: var(--token-lvb_uNtWfpc4);
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
  align-self: center;
}
@media (max-width: 1920px) {
  .h4__nImG {
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 1280px) {
  .h4__nImG {
    animation: none;
    font-size: var(--token-KiAZW0gIrhlw);
  }
}
@media (max-width: 1024px) {
  .h4__nImG {
    animation: none;
  }
}
@media (max-width: 530px) {
  .h4__nImG {
    animation: none;
  }
}
@media (max-width: 430px) {
  .h4__nImG {
    animation: none;
  }
}
@media (max-width: 414px) {
  .h4__nImG {
    animation: none;
  }
}
@media (max-width: 375px) {
  .h4__nImG {
    animation: none;
  }
}
.h3__wnDWr {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 100%;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  pointer-events: none;
}
@media (max-width: 530px) {
  .h3__wnDWr {
    animation: none;
    text-align: center;
    font-size: 70px;
  }
}
@media (max-width: 414px) {
  .h3__wnDWr {
    animation: none;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .h3__wnDWr {
    animation: none;
  }
}
.p__blb6 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
@media (max-width: 1920px) {
  .p__blb6 {
    animation: none;
    width: 739px;
    text-align: center;
    font-family: "Avenir LT Std";
  }
}
@media (max-width: 1200px) {
  .p__blb6 {
    animation: none;
    text-align: center;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .p__blb6 {
    animation: none;
  }
}
@media (max-width: 757px) {
  .p__blb6 {
    animation: none;
  }
}
@media (max-width: 530px) {
  .p__blb6 {
    animation: none;
  }
}
@media (max-width: 430px) {
  .p__blb6 {
    animation: none;
  }
}
@media (max-width: 414px) {
  .p__blb6 {
    animation: none;
  }
}
.p__bfCwi {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
}
@media (max-width: 1920px) {
  .p__bfCwi {
    animation: none;
    width: 1000px;
  }
}
@media (max-width: 1200px) {
  .p__bfCwi {
    animation: none;
    text-align: center;
    width: auto;
  }
}
@media (max-width: 1024px) {
  .p__bfCwi {
    animation: none;
  }
}
@media (max-width: 757px) {
  .p__bfCwi {
    animation: none;
  }
}
@media (max-width: 530px) {
  .p__bfCwi {
    animation: none;
  }
}
@media (max-width: 430px) {
  .p__bfCwi {
    animation: none;
  }
}
@media (max-width: 414px) {
  .p__bfCwi {
    animation: none;
  }
}
.marketsBody2 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1920px;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 110px 3% 0px 15px;
}
@media (max-width: 1920px) {
  .marketsBody2 {
    animation: none;
  }
}
@media (max-width: 1700px) {
  .marketsBody2 {
    animation: none;
  }
}
@media (max-width: 1512px) {
  .marketsBody2 {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .marketsBody2 {
    animation: none;
  }
}
@media (max-width: 1200px) {
  .marketsBody2 {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .marketsBody2 {
    animation: none;
  }
}
@media (max-width: 530px) {
  .marketsBody2 {
    animation: none;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 430px) {
  .marketsBody2 {
    animation: none;
  }
}
@media (max-width: 414px) {
  .marketsBody2 {
    animation: none;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding-right: 20px;
    padding-left: 20px;
    column-gap: 0px;
  }
}
.section {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: visible;
  column-gap: 36px;
  min-width: 0;
  padding: 130px 130px 100px;
}
@media (max-width: 1920px) {
  .section {
    animation: none;
  }
}
@media (max-width: 1512px) {
  .section {
    animation: none;
    width: auto;
    padding: 50px;
  }
}
@media (max-width: 1440px) {
  .section {
    animation: none;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    row-gap: 0px;
  }
}
@media (max-width: 1280px) {
  .section {
    animation: none;
  }
}
@media (max-width: 1200px) {
  .section {
    animation: none;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 36px;
    row-gap: 0px;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .section {
    animation: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 36px;
    row-gap: 0px;
  }
}
@media (max-width: 757px) {
  .section {
    animation: none;
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 36px;
  }
}
@media (max-width: 530px) {
  .section {
    animation: none;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 430px) {
  .section {
    animation: none;
    padding-bottom: 62px;
  }
}
@media (max-width: 414px) {
  .section {
    animation: none;
    padding: 0px;
  }
}
@media (max-width: 375px) {
  .section {
    animation: none;
  }
}
.reveal__uNqV0:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img__sud54 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 574px;
  height: auto;
  min-width: 300px;
}
.img__sud54 > picture > img {
  object-fit: cover;
}
@media (max-width: 1512px) {
  .img__sud54 {
    animation: none;
    width: 472px;
    object-fit: contain;
    margin-right: 0px;
  }
}
@media (max-width: 1512px) {
  .img__sud54 > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 1440px) {
  .img__sud54 {
    animation: none;
    width: 35%;
  }
}
@media (max-width: 1200px) {
  .img__sud54 {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .img__sud54 {
    animation: none;
  }
}
@media (max-width: 757px) {
  .img__sud54 {
    animation: none;
    width: 70%;
  }
}
@media (max-width: 530px) {
  .img__sud54 {
    animation: none;
    width: auto;
  }
}
@media (max-width: 430px) {
  .img__sud54 {
    animation: none;
    width: auto;
  }
}
@media (max-width: 414px) {
  .img__sud54 {
    animation: none;
    margin-right: 0px;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .img__sud54 {
    animation: none;
  }
}
.text4 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  background: none;
  border-radius: 39px;
  padding: 0px 55px;
}
@media (max-width: 1920px) {
  .text4 {
    animation: none;
  }
}
@media (max-width: 1512px) {
  .text4 {
    animation: none;
    width: auto;
  }
}
@media (max-width: 1440px) {
  .text4 {
    animation: none;
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 1280px) {
  .text4 {
    animation: none;
    max-width: 60%;
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .text4 {
    animation: none;
    height: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    justify-content: flex-end;
    max-width: 100%;
    min-height: 0;
  }
}
@media (max-width: 1024px) {
  .text4 {
    animation: none;
  }
}
@media (max-width: 757px) {
  .text4 {
    animation: none;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 414px) {
  .text4 {
    animation: none;
  }
}
.title4 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  align-content: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1920px) {
  .title4 {
    animation: none;
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 1280px) {
  .title4 {
    animation: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 20px;
    column-gap: 0px;
  }
}
@media (max-width: 1200px) {
  .title4 {
    animation: none;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .title4 {
    animation: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 0px;
    min-width: 0;
  }
}
@media (max-width: 757px) {
  .title4 {
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    align-content: center;
  }
}
@media (max-width: 414px) {
  .title4 {
    animation: none;
  }
}
.h3__iLeh {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  pointer-events: none;
}
@media (max-width: 1280px) {
  .h3__iLeh {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .h3__iLeh {
    animation: none;
  }
}
@media (max-width: 757px) {
  .h3__iLeh {
    animation: none;
  }
}
.h4___1Gl9X {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
}
@media (max-width: 1280px) {
  .h4___1Gl9X {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .h4___1Gl9X {
    width: auto;
  }
}
@media (max-width: 414px) {
  .h4___1Gl9X {
    animation: none;
  }
}
.paragraph4 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1920px) {
  .paragraph4 {
    animation: none;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  .paragraph4 {
    animation: none;
  }
}
@media (max-width: 414px) {
  .paragraph4 {
    animation: none;
  }
}
.p__abitj {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
@media (max-width: 1920px) {
  .p__abitj {
    animation: none;
    width: 739px;
  }
}
@media (max-width: 1200px) {
  .p__abitj {
    animation: none;
    text-align: left;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .p__abitj {
    animation: none;
  }
}
@media (max-width: 757px) {
  .p__abitj {
    animation: none;
  }
}
@media (max-width: 530px) {
  .p__abitj {
    animation: none;
  }
}
@media (max-width: 430px) {
  .p__abitj {
    animation: none;
  }
}
@media (max-width: 414px) {
  .p__abitj {
    animation: none;
  }
}
.section2 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: visible;
  column-gap: 36px;
  min-width: 0;
  padding: 130px 130px 100px;
}
@media (max-width: 1920px) {
  .section2 {
    animation: none;
  }
}
@media (max-width: 1512px) {
  .section2 {
    animation: none;
    width: auto;
    padding: 50px;
  }
}
@media (max-width: 1440px) {
  .section2 {
    animation: none;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    row-gap: 0px;
  }
}
@media (max-width: 1280px) {
  .section2 {
    animation: none;
  }
}
@media (max-width: 1200px) {
  .section2 {
    animation: none;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 36px;
    row-gap: 0px;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .section2 {
    animation: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 36px;
    row-gap: 0px;
  }
}
@media (max-width: 757px) {
  .section2 {
    animation: none;
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 36px;
  }
}
@media (max-width: 530px) {
  .section2 {
    animation: none;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 430px) {
  .section2 {
    animation: none;
    padding-bottom: 62px;
  }
}
@media (max-width: 414px) {
  .section2 {
    animation: none;
    padding: 0px;
  }
}
@media (max-width: 375px) {
  .section2 {
    animation: none;
  }
}
.text5 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  background: none;
  border-radius: 39px;
  padding: 0px 55px;
}
@media (max-width: 1920px) {
  .text5 {
    animation: none;
  }
}
@media (max-width: 1512px) {
  .text5 {
    animation: none;
    width: auto;
  }
}
@media (max-width: 1440px) {
  .text5 {
    animation: none;
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 1280px) {
  .text5 {
    animation: none;
    max-width: 60%;
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .text5 {
    animation: none;
    height: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    justify-content: flex-end;
    max-width: 100%;
    min-height: 0;
  }
}
@media (max-width: 1024px) {
  .text5 {
    animation: none;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 757px) {
  .text5 {
    animation: none;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 414px) {
  .text5 {
    animation: none;
  }
}
@media (max-width: 375px) {
  .text5 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.title5 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 20px;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1920px) {
  .title5 {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .title5 {
    animation: none;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: center;
    column-gap: 0px;
  }
}
@media (max-width: 1200px) {
  .title5 {
    animation: none;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .title5 {
    animation: none;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 0px;
  }
}
@media (max-width: 757px) {
  .title5 {
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    row-gap: 20px;
  }
}
@media (max-width: 414px) {
  .title5 {
    animation: none;
  }
}
.h4__fwB6N {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
  align-self: center;
}
@media (max-width: 1280px) {
  .h4__fwB6N {
    animation: none;
  }
}
@media (max-width: 414px) {
  .h4__fwB6N {
    animation: none;
  }
}
.h3__gTnBo {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  pointer-events: none;
}
@media (max-width: 1280px) {
  .h3__gTnBo {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .h3__gTnBo {
    animation: none;
  }
}
@media (max-width: 757px) {
  .h3__gTnBo {
    animation: none;
  }
}
.paragraph5 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1920px) {
  .paragraph5 {
    animation: none;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  .paragraph5 {
    animation: none;
  }
}
@media (max-width: 414px) {
  .paragraph5 {
    animation: none;
  }
}
.p__lUog {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
@media (max-width: 1920px) {
  .p__lUog {
    animation: none;
    width: 739px;
  }
}
@media (max-width: 1200px) {
  .p__lUog {
    animation: none;
    text-align: left;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .p__lUog {
    animation: none;
    text-align: center;
  }
}
@media (max-width: 757px) {
  .p__lUog {
    animation: none;
  }
}
@media (max-width: 530px) {
  .p__lUog {
    animation: none;
    text-align: left;
  }
}
@media (max-width: 430px) {
  .p__lUog {
    animation: none;
    text-align: left;
  }
}
@media (max-width: 414px) {
  .p__lUog {
    animation: none;
  }
}
.link__xY0J0 {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (max-width: 1920px) {
  .link__xY0J0 {
    display: flex;
  }
}
.primaryBtn__zsHqn:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .primaryBtn__zsHqn:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .primaryBtn__zsHqn:global(.__wab_instance) {
    align-self: center;
    flex-shrink: 0;
  }
}
.link__bLjL4 {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1920px) {
  .link__bLjL4 {
    display: flex;
  }
}
.primaryBtn__f7BuG:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .primaryBtn__f7BuG:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .primaryBtn__f7BuG:global(.__wab_instance) {
    align-self: center;
    flex-shrink: 0;
  }
}
@media (max-width: 375px) {
  .primaryBtn__f7BuG:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.text__v7ZNv {
  text-align: center;
}
@media (max-width: 375px) {
  .text__v7ZNv {
    text-align: center;
  }
}
.link__fe8Nj {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 1920px) {
  .link__fe8Nj {
    display: flex;
  }
}
.primaryBtn__kxSz:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .primaryBtn__kxSz:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .primaryBtn__kxSz:global(.__wab_instance) {
    align-self: center;
    flex-shrink: 0;
  }
}
.text__esSzJ {
  font-weight: 700;
  text-align: center;
}
@media (max-width: 1920px) {
  .text__esSzJ {
    height: auto;
  }
}
.img__tvPaz {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 574px;
  height: auto;
  flex-shrink: 0;
}
.img__tvPaz > picture > img {
  object-fit: cover;
}
@media (max-width: 1512px) {
  .img__tvPaz {
    animation: none;
    width: 472px;
    object-fit: contain;
    margin-right: 0px;
    flex-shrink: 0;
  }
}
@media (max-width: 1512px) {
  .img__tvPaz > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 1440px) {
  .img__tvPaz {
    animation: none;
    width: 35%;
  }
}
@media (max-width: 1200px) {
  .img__tvPaz {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .img__tvPaz {
    animation: none;
  }
}
@media (max-width: 757px) {
  .img__tvPaz {
    animation: none;
    width: 70%;
  }
}
@media (max-width: 530px) {
  .img__tvPaz {
    animation: none;
    width: auto;
  }
}
@media (max-width: 430px) {
  .img__tvPaz {
    animation: none;
    width: auto;
  }
}
@media (max-width: 414px) {
  .img__tvPaz {
    animation: none;
    margin-right: 0px;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .img__tvPaz {
    animation: none;
  }
}
.section3 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: visible;
  column-gap: 36px;
  min-width: 0;
  padding: 130px 130px 100px;
}
@media (max-width: 1920px) {
  .section3 {
    animation: none;
  }
}
@media (max-width: 1512px) {
  .section3 {
    animation: none;
    width: auto;
    padding: 50px;
  }
}
@media (max-width: 1440px) {
  .section3 {
    animation: none;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    row-gap: 0px;
  }
}
@media (max-width: 1280px) {
  .section3 {
    animation: none;
  }
}
@media (max-width: 1200px) {
  .section3 {
    animation: none;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    column-gap: 36px;
    row-gap: 0px;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .section3 {
    animation: none;
    display: flex;
    flex-direction: row;
    column-gap: 36px;
    row-gap: 0px;
  }
}
@media (max-width: 757px) {
  .section3 {
    animation: none;
    flex-wrap: wrap;
    align-items: stretch;
  }
}
@media (max-width: 530px) {
  .section3 {
    animation: none;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 430px) {
  .section3 {
    animation: none;
    padding-bottom: 62px;
  }
}
@media (max-width: 414px) {
  .section3 {
    animation: none;
    padding: 0px 0px 50px;
  }
}
@media (max-width: 375px) {
  .section3 {
    animation: none;
  }
}
.img__pubAb {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: auto;
}
.img__pubAb > picture > img {
  object-fit: cover;
}
@media (max-width: 1512px) {
  .img__pubAb {
    animation: none;
    width: 472px;
    object-fit: contain;
    margin-right: 0px;
    flex-shrink: 0;
  }
}
@media (max-width: 1512px) {
  .img__pubAb > picture > img {
    object-fit: contain;
  }
}
@media (max-width: 1440px) {
  .img__pubAb {
    animation: none;
    width: 35%;
  }
}
@media (max-width: 1200px) {
  .img__pubAb {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .img__pubAb {
    animation: none;
  }
}
@media (max-width: 757px) {
  .img__pubAb {
    animation: none;
    width: 70%;
  }
}
@media (max-width: 530px) {
  .img__pubAb {
    animation: none;
    width: auto;
  }
}
@media (max-width: 430px) {
  .img__pubAb {
    animation: none;
    width: auto;
  }
}
@media (max-width: 414px) {
  .img__pubAb {
    animation: none;
    margin-right: 0px;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 375px) {
  .img__pubAb {
    animation: none;
  }
}
.text6 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  background: none;
  border-radius: 39px;
  padding: 0px 55px;
}
@media (max-width: 1920px) {
  .text6 {
    animation: none;
  }
}
@media (max-width: 1512px) {
  .text6 {
    animation: none;
    width: auto;
  }
}
@media (max-width: 1440px) {
  .text6 {
    animation: none;
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 1280px) {
  .text6 {
    animation: none;
    max-width: 60%;
    padding: 0px;
  }
}
@media (max-width: 1200px) {
  .text6 {
    animation: none;
    height: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    justify-content: flex-end;
    max-width: 100%;
    min-height: 0;
  }
}
@media (max-width: 1024px) {
  .text6 {
    animation: none;
  }
}
@media (max-width: 757px) {
  .text6 {
    animation: none;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 414px) {
  .text6 {
    animation: none;
  }
}
@media (max-width: 375px) {
  .text6 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.title6 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1920px) {
  .title6 {
    animation: none;
  }
}
@media (max-width: 1280px) {
  .title6 {
    animation: none;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: center;
    column-gap: 0px;
  }
}
@media (max-width: 1200px) {
  .title6 {
    animation: none;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0px;
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .title6 {
    animation: none;
  }
}
@media (max-width: 757px) {
  .title6 {
    flex-wrap: wrap;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    column-gap: 20px;
  }
}
@media (max-width: 414px) {
  .title6 {
    animation: none;
  }
}
.h3__xosRz {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Georgia";
  font-size: 63px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  pointer-events: none;
}
@media (max-width: 1280px) {
  .h3__xosRz {
    animation: none;
  }
}
@media (max-width: 1024px) {
  .h3__xosRz {
    animation: none;
  }
}
@media (max-width: 757px) {
  .h3__xosRz {
    animation: none;
  }
}
.h4__jugpP {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-VSsNRyw2VYkH);
  font-size: var(--token-KiAZW0gIrhlw);
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  pointer-events: none;
}
@media (max-width: 1280px) {
  .h4__jugpP {
    animation: none;
  }
}
@media (max-width: 414px) {
  .h4__jugpP {
    animation: none;
  }
}
.paragraph6 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 1920px) {
  .paragraph6 {
    animation: none;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media (max-width: 1024px) {
  .paragraph6 {
    animation: none;
  }
}
@media (max-width: 414px) {
  .paragraph6 {
    animation: none;
  }
}
.p___40FIy {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Avenir LT Std";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 36px;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  color: var(--token-Xx7oe00aHq8H);
  min-width: 0;
}
@media (max-width: 1920px) {
  .p___40FIy {
    animation: none;
    width: 690px;
  }
}
@media (max-width: 1200px) {
  .p___40FIy {
    animation: none;
    text-align: left;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 1024px) {
  .p___40FIy {
    animation: none;
  }
}
@media (max-width: 757px) {
  .p___40FIy {
    animation: none;
  }
}
@media (max-width: 530px) {
  .p___40FIy {
    animation: none;
  }
}
@media (max-width: 430px) {
  .p___40FIy {
    animation: none;
  }
}
@media (max-width: 414px) {
  .p___40FIy {
    animation: none;
  }
}
.link__v1Px7 {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (max-width: 1920px) {
  .link__v1Px7 {
    display: flex;
  }
}
.primaryBtn__m20D4:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-start;
  flex-shrink: 0;
}
@media (max-width: 1920px) {
  .primaryBtn__m20D4:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 1024px) {
  .primaryBtn__m20D4:global(.__wab_instance) {
    align-self: center;
    flex-shrink: 0;
  }
}
.text__honod {
  height: auto;
}
.ctaBottom:global(.__wab_instance) {
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.footer:global(.__wab_instance) {
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
